.carousel, .carousel-inner, .carousel-inner > .item{
  height:100%;
 }



 .aboutus-grid{
 
    position: relative;
    top: 0; left: 0; bottom: 0; right: 0;
  
  background-color: #2196F3;
  } 

.aboutus-container{
    position:absolute;
    top: 80px;
    left: 680px;
    height: 260px;
    width:680px;
}

.aboutus-big-box {
    position: absolute;
    top: 75px;
    left: 675px;
    background-color: rgba(11, 11, 11, 1);  
    bottom:0;
    right:0;
}
.aboutus-banner-slider{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 260px;
    width:680px;
}
.aboutus-detail-bar{
    position: absolute;
    top: 210px;
    left: 0px;
    height: 70px;
    width: 680px;
    background-color: rgba(11, 11, 11, 1);  
    opacity: 0.95;
}
.aboutus-location-carousel{
    position: absolute;
    top: 220px;
    left: 20px;
    height: 30px;
    width: 25px;
}
.location-carousel-sub1{
    position: absolute;
    top: 215px;
    left: 50px;
    height: 10px;
    width: 175px;
    font-family: 'Antipasto';
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
}
.aboutus-price{
    position: absolute;
    display: inline-block;
    top: 232px;
    left: 55px;
    color: rgba(255, 255, 255, 1);
}

.aboutus-price-1{
   font-family: 'Antipasto';
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
    height: 10px;
}
.aboutus-price-2{
   font-family: 'Antipasto';
    font-size: 11px;
    color: rgba(255, 255, 255, 1);
    height: 5px;
}
.aboutus-price-3{
   font-family: 'Antipasto';
    font-size: 11px;
    color: rgba(255, 255, 255, 1);
    height: 5px;
}
.part80-90{
    position: absolute;
    top: 235px;
    left: 30px;
    height: 10px;
    width: 100px;
    font-family: 'Antipasto';
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    
}
.partLakhs{
    position: absolute;
    top: 240px;
    left: 80px;
    height: 5px;
    width: 70px;
    font-family: 'Antipasto';
    font-size: 11px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
}
.aboutus-area{
    position: absolute;
    top: 220px;
    left: 320px;
    height: 30px;
    width: 25px;
}
.area-head{
    position: absolute;
    top: 218px;
    left: 350px;
    height: 10px;
    width: 32px;
    font-family: 'Antipasto';
    font-size: 12px;
    color: rgba(184, 184, 184, 1);
    text-align: center;
}
.aboutus-area-content{
    position: absolute;
    display: inline-block;
    top: 230px;
    left: 355px;
    color: rgba(255, 255, 255, 1);
}

.aboutus-area-content-1{
   font-family: 'Antipasto';
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
    height: 16px;
}
.aboutus-area-content-2{
   font-family: 'Antipasto';
    font-size: 11px;
    color: rgba(184, 184, 184, 1);
    height: 11px;
}

.aboutus-bedroom{
    position: absolute;
    top: 220px;
    left: 455px;
    height: 30px;
    width: 25px;
}
.bedroom-head{
    position: absolute;
    top: 220px;
    left: 480px;
    height: 10px;
    width: 63px;
    font-family: 'Antipasto';
    font-size: 12px;
    color: rgba(184, 184, 184, 1);
    text-align: center;
}
.bedroom-sub{
    position: absolute;
    top: 233px;
    left: 490px;
    height: 15px;
    width: 12px;
    font-family: 'Antipasto';
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
}
.aboutus-bathroom{
    position: absolute;
    top: 220px;
    left: 560px;
    height: 30px;
    width: 25px;
}
.bathroom-head{
    position: absolute;
    top: 220px;
    left: 585px;
    height: 10px;
    width: 65px;
    font-family: 'Antipasto';
    font-size: 12px;
    color: rgba(184, 184, 184, 1);
    text-align: center;
}
.bathroom-sub{
    position: absolute;
    top: 233px;
    left: 595px;
    height: 15px;
    width: 11px;
    font-family: 'Antipasto';
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
}
.aboutus-small-box{
    position: absolute;
    top: 340px;
    left: 680px;
    background-color: rgba(22, 22, 22, 1);
    bottom:0;
    right:0;
}
#partabout{
    position: absolute;
    top: 350px;
    left: 700px;
    height: 16px;
    width: 82px;
    font-family: 'Antipasto';
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
}
#partus{
    position: absolute;
    top: 350px;
    left: 745px;
    height: 16px;
    width: 82px;
    font-family: 'Antipasto';
    font-size: 16px;
    color: rgba(47, 181, 110, 1);
}
#aboutus-content{
    position: absolute;
    top: 385px;
    left: 700px;
    height: 160px;
    width: 642px;
    font-family: 'Antipasto';
    font-size: 10px;
    color: rgba(255, 255, 255, 1);
    line-height: 15px;
}
#aboutus-location-aboutus{
    position: absolute;
    top: 510px;
    left: 700px;
    height: 25px;
    width: 20px;
}
#location-head{
    position: absolute;
    top: 505px;
    left: 730px;
    height: 10px;
    width: 58px;
    font-family: 'Antipasto';
    font-size: 14px;
    color: rgba(255, 255, 255, 1);
}
#location-sub{
    position: absolute;
    top: 525px;
    left: 730px;
    height: 10px;
    width: 298px;
    font-family: 'Antipasto';
    font-size: 9px;
    color: rgba(225, 225, 225, 1);
}
#aboutus-phone{
    position: absolute;
    top: 555px;
    left: 700px;
    height: 25px;
    width: 20px;
}
#phone-head{
    position: absolute;
    top: 550px;
    left: 730px;
    height: 10px;
    width: 58px;
    font-family: 'Antipasto';
    font-size: 14px;
    color: rgba(255, 255, 255, 1);
}
#phone-sub{
    position: absolute;
    top: 570px;
    left: 730px;
    height: 10px;
    width: 298px;
    font-family: 'Antipasto';
    font-size: 9px;
    color: rgba(225, 225, 225, 1);
}
#contact-now{
    cursor: pointer;
    position: absolute;
    top: 595px;
    left: 730px;
    height: 25px;
    width: 85px;
    background-color: rgba(47, 181, 110, 1);
    font-family: 'Antipasto';
    font-size: 11px;
    color: rgba(255, 255, 255, 1);
    border:none;
}