#add2-big-box{
    position: absolute;
    top: 75px;
    left: 675px;
    background-color: rgba(11, 11, 11, 1);  
    bottom:0;
    right:0;
}
#add2-big-box-2{
    position: absolute;
    top: 80px;
    left: 680px;
    background-color: rgba(22, 22, 22, 1);
    bottom:0;
    right:0;
}
#add2-head-1{
    position: absolute;
    top: 90px;
    left: 695px;
    height: 27px;
    width: 100px;
    font-family: 'Antipasto';
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
}
#add2-head-2{
    position: absolute;
    top: 90px;
    left: 725px;
    height: 27px;
    width: 100px;
    font-family: 'Antipasto';
    font-size: 16px;
    color: rgba(47, 181, 110, 1);
}
#add2-basic-info{
    position: absolute;
top: 120px;
left: 875px;
height: 19px;
width: 108px;
font-family: 'Antipasto';
font-size: 14px;
color: rgba(255, 255, 255, 1);
}
#add2-property-details{
    position: absolute;
top: 120px;
left: 1025px;
height: 19px;
width: 93px;
font-family: 'Antipasto';
font-size: 14px;

color: rgba(44, 166, 101, 1);
border-bottom: 2px solid;
}

.add2-price{
    position: absolute;
top: 160px;
left: 705px;
height: 30px;
width: 250px;
background: transparent;
color: white;
border: 1px solid rgba(140, 140, 140, 1);
}

.add2-bathroom{
    position: absolute;
top: 160px;
left: 965px;
height: 30px;
width: 250px;
background: transparent;
color: white;
border: 1px solid rgba(140, 140, 140, 1);
}

.add2-bedroom{
    position: absolute;
top: 200px;
left: 705px;
height: 30px;
width: 250px;
background: transparent;
color: white;
border: 1px solid rgba(140, 140, 140, 1);
}

.add2-built{
    position: absolute;
top: 270px;
left: 705px;
height: 30px;
width: 250px;
background: transparent;
color: white;
border: 1px solid rgba(140, 140, 140, 1);
}

.add2-built-unit{
    position: absolute;
top: 270px;
left: 965px;
height: 30px;
width: 70px;
background: transparent;
color: white;
border: 1px solid rgba(140, 140, 140, 1);
}

.add2-dropdown1{
    position: absolute;
    top: 285px;
    left: 1015px;
}

.add2-carpet{
    position: absolute;
top: 310px;
left: 705px;
height: 30px;
width: 250px;
background: transparent;
color: white;
border: 1px solid rgba(140, 140, 140, 1);
}

.add2-carpet-unit{
    position: absolute;
top: 310px;
left: 965px;
height: 30px;
width: 70px;
background: transparent;
color: white;
border: 1px solid rgba(140, 140, 140, 1);
}
.add2-dropdown2{
    position: absolute;
    top: 325px;
    left: 1015px;
}
.add2-resale-bullet{
    position: absolute;
    top: 375px;
    left: 705px;
    height: 20px;
    width: 20px;
}
.add2-resale{
    position: absolute;
    top: 380px;
    left: 735px;
    font-size: 10px;
color: white;
}
.add2-new-bullet{
    position: absolute;
    top: 375px;
    left: 820px;
    height: 20px;
    width: 20px;

}
.add2-new{
    position: absolute;
    top: 380px;
    left: 850px;
    font-size: 10px;
color: white;

}
.add2-property-floor{
    position: absolute;
top: 405px;
left: 705px;
height: 30px;
width: 250px;
background: transparent;
color: white;
border: 1px solid rgba(140, 140, 140, 1);
}

.add2-ownership{
    position: absolute;
top: 405px;
left: 965px;
height: 30px;
width: 250px;
background: transparent;
color: white;
border: 1px solid rgba(140, 140, 140, 1);
}

.add2-total-floor{
    position: absolute;
top: 445px;
left: 705px;
height: 30px;
width: 250px;
background: transparent;
color: white;
border: 1px solid rgba(140, 140, 140, 1);
}
.add2-ready-bullet{
    position: absolute;
    top: 510px;
    left: 705px;
    height: 20px;
    width: 20px;
    
}
.add2-ready{
    position: absolute;
    top: 515px;
    left: 735px;
    font-size: 10px;
color: white;
}
.add2-under-bullet{
    position: absolute;
    top: 510px;
    left: 820px;
    height: 20px;
    width: 20px;
}
.add2-under{
    position: absolute;
    top: 515px;
    left: 850px;
    font-size: 10px;
color: white;

}
.add2-description{
    position: absolute;
top: 540px;
left: 705px;
height: 60px;
width: 250px;
background: transparent;
color: white;
border: 1px solid rgba(140, 140, 140, 1);
resize:none;
/*scroll-behavior: none;*/
overflow: hidden;
}

.add2-submit{
  position: absolute;
top: 610px;
left: 705px;
height: 25px;
width: 80px;
background-color: rgba(47, 181, 110, 1);
font-family: 'Antipasto';
font-size: 11px;
color: rgba(255, 255, 255, 1);
border: none;
}

#add2-bar-1{
    position: absolute;
top: 240px;
left: 695px;
height: 18px;
width: 630px;
background-color: rgba(41, 41, 41, 1);

}
#add2-bar-1-content{
    position: absolute;
    left:705px;
    top:242px;
    font-family: 'Antipasto';
    font-size: 9px;
    color: rgba(255, 255, 255, 1);
}
#add2-bar-2{
    position: absolute;
top: 350px;
left: 695px;
height: 18px;
width: 630px;
background-color: rgba(41, 41, 41, 1);

}
#add2-bar-2-content{
    position: absolute;
    left:705px;
    top:352px;
    font-family: 'Antipasto';
    font-size: 9px;
    color: rgba(255, 255, 255, 1);
}
#add2-bar-3{
    position: absolute;
top: 485px;
left: 695px;
height: 18px;
width: 630px;
background-color: rgba(41, 41, 41, 1);

}
#add2-bar-3-content{
    position: absolute;
    left:705px;
    top:487px;
    font-family: 'Antipasto';
    font-size: 9px;
    color: rgba(255, 255, 255, 1);
}