#add2-big-box{
    position: absolute;
    top: 75px;
    left: 675px;
    background-color: rgba(11, 11, 11, 1);  
    bottom:0;
    right:0;
}
#add2-big-box-2{
    position: absolute;
    top: 80px;
    left: 680px;
    background-color: rgba(22, 22, 22, 1);
    bottom:0;
    right:0;
}
#add2-head-1{
    position: absolute;
    top: 90px;
    left: 695px;
    height: 27px;
    width: 100px;
    font-family: 'Antipasto';
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
}
#add2-head-2{
    position: absolute;
    top: 90px;
    left: 725px;
    height: 27px;
    width: 100px;
    font-family: 'Antipasto';
    font-size: 16px;
    color: rgba(47, 181, 110, 1);
}
#add2-basic-info{
    position: absolute;
top: 120px;
left: 875px;
height: 19px;
width: 108px;
font-family: 'Antipasto';
font-size: 14px;
color: rgba(255, 255, 255, 1);
}
#add2-property-details{
    position: absolute;
top: 120px;
left: 1025px;
height: 19px;
width: 93px;
font-family: 'Antipasto';
font-size: 14px;

color: rgba(44, 166, 101, 1);
border-bottom: 2px solid;
}

.add2-price{
    position: absolute;
top: 160px;
left: 705px;
height: 30px;
width: 250px;
background: transparent;
color: white;
border: 1px solid rgba(140, 140, 140, 1);
}

.add2-bathroom{
    position: absolute;
top: 160px;
left: 965px;
height: 30px;
width: 250px;
background: transparent;
color: white;
border: 1px solid rgba(140, 140, 140, 1);
}

.add2-bedroom{
    position: absolute;
top: 200px;
left: 705px;
height: 30px;
width: 250px;
background: transparent;
color: white;
border: 1px solid rgba(140, 140, 140, 1);
}

.add2-built{
    position: absolute;
top: 270px;
left: 705px;
height: 30px;
width: 250px;
background: transparent;
color: white;
border: 1px solid rgba(140, 140, 140, 1);
}

.add2-built-unit{
    position: absolute;
top: 275px;
left: 965px;
height: 25px;
width: 70px;
background: transparent;
color: white;
border: 1px solid rgba(140, 140, 140, 1);
}


.add2-carpet{
    position: absolute;
top: 310px;
left: 705px;
height: 25px;
width: 250px;
background: transparent;
color: white;
border: 1px solid rgba(140, 140, 140, 1);
}

.add2-carpet-unit{
    position: absolute;
top: 310px;
left: 965px;
height: 25px;
width: 70px;
background: transparent;
color: white;
border: 1px solid rgba(140, 140, 140, 1);
}
.add2-resale-radio{
    position: absolute;
    top: 375px;
    left: 705px;
}
.add2-resale{
    position: absolute;
    top: 375px;
    left: 735px;
}
.add2-new-radio{
    position: absolute;
    top: 375px;
    left: 800px;
}
.add2-new{
    position: absolute;
    top: 375px;
    left: 830px;

}
.add2-property-floor{
    position: absolute;
top: 395px;
left: 705px;
height: 30px;
width: 250px;
background: transparent;
color: white;
border: 1px solid rgba(140, 140, 140, 1);
}

.add2-ownership{
    position: absolute;
top: 395px;
left: 965px;
height: 30px;
width: 250px;
background: transparent;
color: white;
border: 1px solid rgba(140, 140, 140, 1);
}

.add2-total-floor{
    position: absolute;
top: 435px;
left: 705px;
height: 30px;
width: 250px;
background: transparent;
color: white;
border: 1px solid rgba(140, 140, 140, 1);
}
.add2-ready-radio{
    position: absolute;
    top: 510px;
    left: 705px;
    border: 1px solid rgba(104, 104, 104, 1);
    border-radius: 20px;
}
.add2-ready{
    position: absolute;
    top: 510px;
    left: 735px;
}
.add2-under-radio{
    position: absolute;
    top: 510px;
    left: 800px;
}
.add2-under{
    position: absolute;
    top: 510px;
    left: 830px;

}
.add2-description{
    position: absolute;
top: 540px;
left: 705px;
height: 55px;
width: 250px;
background: transparent;
color: white;
border: 1px solid rgba(140, 140, 140, 1);
resize:none;
scroll-behavior: none;
}

.add2-submit{
  position: absolute;
top: 610px;
left: 705px;
height: 25px;
width: 80px;
background-color: rgba(47, 181, 110, 1);
font-family: 'Antipasto';
font-size: 12px;
color: rgba(255, 255, 255, 1);
}

#add2-bar-1{
    position: absolute;
top: 235px;
left: 695px;
height: 18px;
width: 630px;
background-color: rgba(41, 41, 41, 1);

}
#add2-bar-1-content{
    position: absolute;
    left:705px;
    top:237px;
    font-family: 'Antipasto';
    font-size: 9px;
    color: rgba(255, 255, 255, 1);
}
#add2-bar-2{
    position: absolute;
top: 345px;
left: 695px;
height: 18px;
width: 630px;
background-color: rgba(41, 41, 41, 1);

}
#add2-bar-2-content{
    position: absolute;
    left:705px;
    top:347px;
    font-family: 'Antipasto';
    font-size: 9px;
    color: rgba(255, 255, 255, 1);
}
#add2-bar-3{
    position: absolute;
top: 480px;
left: 695px;
height: 18px;
width: 630px;
background-color: rgba(41, 41, 41, 1);

}
#add2-bar-3-content{
    position: absolute;
    left:705px;
    top:482px;
    font-family: 'Antipasto';
    font-size: 9px;
    color: rgba(255, 255, 255, 1);
}