
/* home.html */

#welcome {
    position: absolute;
    top: 205px;
    left: 70px;
    height: 56px;
    width: 378px;
    font-family: 'Antipasto';
    font-size: 35px;
    color: rgba(255, 255, 255, 1);
    text-align: left;
}

#logo {
    
    position: absolute;
    top: 35px;
    left: 70px;
    height: 90px;
    width: 225px;
}

#welcome-sub {
    position: absolute;
    top: 260px;
    left: 70px;
    height: 93px;
    width: 452px;
    font-family: 'Antipasto';
    font-size: 11px;
    color: rgba(255, 255, 255, 1);
    line-height: 16px;
    

}

.home-filter {
    position: absolute;
    top: 370px;
    height: 30px;
    background-color: rgba(105, 121, 142, 1);
    font-family: 'Antipasto';
    font-size: 11px;
    color: rgba(240, 240, 240, 1);
    border:none;
}
.home-filter:hover {
  background-color: rgba(39, 53, 71, 1);
}
.home-filter:active {
  background-color: rgba(39, 53, 71, 1);
}
#home-filter1{
    left: 70px;
    width: 45px;
}
#home-filter2{
    left: 118px;
    width: 45px;
}
#home-filter3{
    left: 166px;
    width: 90px;
}
#home-filter4{
    left: 259px;
    width: 120px;
}
#home_search{
    position: absolute;
    top: 400px;
    left: 70px;
    height: 38px;
    width: 405px;
    background-color: rgba(240, 240, 240, 1);
    font-family: 'Antipasto';
    font-size: 12px;
    border:none;
}
#home-submit{
    position: absolute;
    top: 400px;
    left: 476px;
    height: 38px;
    width: 85px;
    background-color: rgba(47, 181, 110, 1);
    font-family: 'Antipasto';
    font-size: 14px;
    color: rgba(255, 255, 255, 1);
    border:none;
}
#home-fb{
    position: absolute;
    top: 600px;
    left: 70px;
    height: 20px;
    width: 20px;    
}
#home-twitter{
    position: absolute;
    top: 601px;
    left: 100px;
    height: 20px;
    width: 20px;
}
#home-google{
    position: absolute;
    top: 601px;
    left: 130px;
    height: 20px;
    width: 20px;
}
#home-copyright{
    position: absolute;
    top: 605px;
    left: 160px;
    height: 9px;
    width: 192px;
    font-family: 'Antipasto';
    font-size: 11px;
    color: rgba(255, 255, 255, 1);
}
.home-top-right{
    position: absolute;
    color: rgba(255, 255, 255, 1);
    font-family: 'Antipasto';
    font-size: 11px;
    height: 20px;
    top: 35px;
    background-color: Transparent;
    border: none;
}
.home-top-right:hover {
    background-color: rgba(0, 0, 0, 1);
    color: rgba(47, 181, 110, 1);
}
.home-top-right:active {
    background-color: rgba(0, 0, 0, 1);
    color: rgba(47, 181, 110, 1);
}

#home-top-right-1{
    left: 780px;
    width: 45px;
}

#home-top-right-2{
    left: 830px;
    width: 60px;
}
#home-top-right-3{
    left: 895px;
    width: 110px;
}
#home-top-right-4{
    left: 1010px;
    width: 100px;
}
#home-top-right-5{
    left: 1115px;
    width: 90px;
}
#home-top-right-6{
    left: 1210px;
    width: 90px;
}
#home-login{
    left: 1305px;
    width: 48px;    
}
#home-logout{
    left: 1305px;
    width: 48px;  
}
#home-profile{
    height: 24px;
    top: 10px;
    left: 1285px; 
    width: 80px;
}

/* aboutus.html */

#aboutus-big-box {
    position: absolute;
    top: 75px;
    left: 675px;
    background-color: rgba(11, 11, 11, 1);  
    bottom:0;
    right:0;
}
#aboutus-banner-slider{
    position: absolute;
    top: 80px;
    left: 680px;
    height: 260px;
    width:680px;
}
#aboutus-detail-bar{
    position: absolute;
    top: 290px;
    left: 680px;
    height: 70px;
    width: 680px;
    background-color: rgba(11, 11, 11, 1);  
    opacity: 0.95;
}
#aboutus-location-carousel{
    position: absolute;
    top: 300px;
    left: 700px;
    height: 30px;
    width: 25px;
}
#location-carousel-sub1{
    position: absolute;
    top: 295px;
    left: 715px;
    height: 10px;
    width: 141px;
    font-family: 'Antipasto';
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
}
#part80-90{
    position: absolute;
    top: 315px;
    left: 710px;
    height: 10px;
    width: 100px;
    font-family: 'Antipasto';
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    
}
#partLakhs{
    position: absolute;
    top: 320px;
    left: 760px;
    height: 5px;
    width: 70px;
    font-family: 'Antipasto';
    font-size: 11px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
}
#aboutus-area{
    position: absolute;
    top: 300px;
    left: 1000px;
    height: 30px;
    width: 25px;
}
#area-head{
    position: absolute;
    top: 298px;
    left: 1030px;
    height: 10px;
    width: 32px;
    font-family: 'Antipasto';
    font-size: 12px;
    color: rgba(184, 184, 184, 1);
    text-align: center;
}
#part7789{
    position: absolute;
    top: 310px;
    left: 1005px;
    height: 15px;
    width: 83px;
    font-family: 'Antipasto';
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
}
#partsqft{
    position: absolute;
    top: 315px;
    left: 1032px;
    height: 10px;
    width: 83px;
    font-family: 'Antipasto';
    font-size: 12px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
}
#aboutus-bedroom{
    position: absolute;
    top: 300px;
    left: 1135px;
    height: 30px;
    width: 25px;
}
#bedroom-head{
    position: absolute;
    top: 300px;
    left: 1160px;
    height: 10px;
    width: 63px;
    font-family: 'Antipasto';
    font-size: 12px;
    color: rgba(184, 184, 184, 1);
    text-align: center;
}
#bedroom-sub{
    position: absolute;
    top: 313px;
    left: 1170px;
    height: 15px;
    width: 12px;
    font-family: 'Antipasto';
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
}
#aboutus-bathroom{
    position: absolute;
    top: 300px;
    left: 1240px;
    height: 30px;
    width: 25px;
}
#bathroom-head{
    position: absolute;
    top: 300px;
    left: 1265px;
    height: 10px;
    width: 65px;
    font-family: 'Antipasto';
    font-size: 12px;
    color: rgba(184, 184, 184, 1);
    text-align: center;
}
#bathroom-sub{
    position: absolute;
    top: 313px;
    left: 1275px;
    height: 15px;
    width: 11px;
    font-family: 'Antipasto';
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
}
#aboutus-small-box{
    position: absolute;
    top: 340px;
    left: 680px;
    background-color: rgba(22, 22, 22, 1);
    bottom:0;
    right:0;
}
#partabout{
    position: absolute;
    top: 350px;
    left: 700px;
    height: 16px;
    width: 82px;
    font-family: 'Antipasto';
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
}
#partus{
    position: absolute;
    top: 350px;
    left: 745px;
    height: 16px;
    width: 82px;
    font-family: 'Antipasto';
    font-size: 16px;
    color: rgba(47, 181, 110, 1);
}
#aboutus-content{
    position: absolute;
    top: 385px;
    left: 700px;
    height: 160px;
    width: 642px;
    font-family: 'Antipasto';
    font-size: 10px;
    color: rgba(255, 255, 255, 1);
    line-height: 15px;
}
#aboutus-location-aboutus{
    position: absolute;
    top: 510px;
    left: 700px;
    height: 25px;
    width: 20px;
}
#location-head{
    position: absolute;
    top: 505px;
    left: 730px;
    height: 10px;
    width: 58px;
    font-family: 'Antipasto';
    font-size: 14px;
    color: rgba(255, 255, 255, 1);
}
#location-sub{
    position: absolute;
    top: 525px;
    left: 730px;
    height: 10px;
    width: 298px;
    font-family: 'Antipasto';
    font-size: 9px;
    color: rgba(225, 225, 225, 1);
}
#aboutus-phone{
    position: absolute;
    top: 555px;
    left: 700px;
    height: 25px;
    width: 20px;
}
#phone-head{
    position: absolute;
    top: 550px;
    left: 730px;
    height: 10px;
    width: 58px;
    font-family: 'Antipasto';
    font-size: 14px;
    color: rgba(255, 255, 255, 1);
}
#phone-sub{
    position: absolute;
    top: 570px;
    left: 730px;
    height: 10px;
    width: 298px;
    font-family: 'Antipasto';
    font-size: 9px;
    color: rgba(225, 225, 225, 1);
}
#contact-now{
    position: absolute;
    top: 595px;
    left: 730px;
    height: 25px;
    width: 85px;
    background-color: rgba(47, 181, 110, 1);
    font-family: 'Antipasto';
    font-size: 11px;
    color: rgba(255, 255, 255, 1);
    border:none;
}

/* recent.html */

#recentBigBox{
    position: absolute;
    top: 75px;
    left: 675px;
    background-color: rgba(11, 11, 11, 1);  
    bottom:0;
    right:0;
}
#recentBigBox2{
    position: absolute;
    top: 80px;
    left: 680px;
    background-color: rgba(22, 22, 22, 1);
    bottom:0;
    right:0;
}
#recentHead1{
    position: absolute;
    top: 90px;
    left: 695px;
    height: 27px;
    width: 100px;
    font-family: 'Antipasto';
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
}
#recentHead2{
    position: absolute;
    top: 90px;
    left: 740px;
    height: 27px;
    width: 100px;
    font-family: 'Antipasto';
    font-size: 16px;
    color: rgba(47, 181, 110, 1);
}
.recentTopRight{
    position: absolute;
    color: rgba(255, 255, 255, 1);
    font-family: 'Antipasto';
    font-size: 11px;
    height: 15px;
    top: 90px;
    background-color: Transparent;
    border: none;
}
.recentTopRight:hover {
    background-color: rgba(0, 0, 0, 1);
    color: rgba(47, 181, 110, 1);
}
.recentTopRight:active {
    background-color: rgba(0, 0, 0, 1);
    color: rgba(47, 181, 110, 1);
}
#recentTopRight1{
    left:1065px;
    width:65px;
}
#recentTopRight2{
    left:1135px;
    width:95px;
}
#recentTopRight3{
    left:1235px;
    width:65px;
}
#recentTopRight4{
    left:1305px;
    width:50px;
}
.recentContent{
    position:absolute;
    top:125px;
    left:695px;
    height:530px;
    width:650px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    grid-gap: 15px;
    /*background-color: rgba(22, 22, 22, 1);*/
    background-color: blue;

}
.recentList{
    position:relative;
    height:165px;
    width:205px;
    background-color: red;
    z-index: 10;
}
.recentImage{
    position: absolute;
    height:110px;
    width:205px;
}
.recentRent{
    position: absolute;
    top:100px;
    left:140px;
    height: 15px;
    width: 50px;
    background-color: rgba(47, 181, 110, 1);
    font-family: 'Antipasto';
    font-size: 10px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
}
.recentSell{
    position: absolute;
    top:100px;
    left:140px;
    height: 15px;
    width: 50px;
    background-color: rgba(231, 93, 54, 1);
    font-family: 'Antipasto';
    font-size: 10px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
}
.recentCity{
    position: absolute;
    top:110px;
    height: 15px;
    width: 118px;
    font-family: 'Antipasto';
    font-size: 12px;
    color: rgba(225, 225, 225, 1);
}
.recentAddress{
    position: absolute;
    top:125px;
    height: 20px;
    width: 150px;
    font-family: 'Antipasto';
    font-size: 10px;
    color: rgba(225, 225, 225, 1);
}
.recentPrice{
    position: absolute;
    display: inline-block;
    top: 142px;
    left:2px;
    color: rgba(255, 255, 255, 1);
}
.recentPrice1{
    left: 2px;
    z-index: 1;
    height: 20px;
    width: 40px;
    font-family: 'PingFangSC-Regular';
    font-size: 11px;
    color: rgba(47, 181, 110, 1);
}
.recentPrice2{
    height: 15px;
    width: 90px;
    font-family: 'Antipasto';
    font-size: 11px;
    color: rgba(47, 181, 110, 1);
}
.recentPrice3{
    height: 15px;
    width: 90px;
    font-family: 'Antipasto';
    font-size: 11px;
    color: rgba(47, 181, 110, 1);
}
.recentLike{
    position: absolute;
    top:145px;
    left: 170px;
    display: inline-block;
    height: 20px;
    padding: 0;
    margin: 0;
    width: 20px;
    background: transparent;
    border: none;
}
.recentLikeImage{
    position: absolute;
    right: 0px;
    bottom: 0px;
    height:20px;
    width:20px;
}

#error_message{
    background-color: red;
    width:50px;
}

/* detail.html */

#detail-big-box{
    position: absolute;
    top: 75px;
    left: 675px;
    background-color: rgba(11, 11, 11, 1);  
    bottom:0;
    right:0;
}
#detail-big-box-2{
    position: absolute;
    top: 320px;
    left: 680px;
    background-color: rgba(22, 22, 22, 1);
    bottom:0;
    right:0;
}
#detail-close{
    position: absolute;
    top: 90px;
    left: 695px;
    height: 20px;
    width: 60px;
    z-index: 1;
}
#detail-image{
    position: absolute;
    top: 80px;
    left: 680px;
    height: 240px;
    width: 450px;
}
#detail-box-1{
    position: absolute;
    top: 80px;
    left: 1130px;
    height: 60px;
    right:0;
}
#detail-box-1-image{
    position: absolute;
top: 15px;
left: 15px;
height: 20px;
width: 18px;
}
#detail-location{
    position: absolute;
top: 13px;
left: 45px;
height: 10px;
font-family: 'Antipasto';
font-size: 9px;
color: rgba(184, 184, 184, 1);
}
.detail-price{
    position: absolute;
    display: inline-block;
    top: 21px;
    left:45px;
    color: rgba(255, 255, 255, 1);
}
#detail-price-1{
    font-family: 'Antipasto';
    font-size: 15px;
    height: 15px;
}
#detail-price-2{
    font-family: 'Antipasto';
    font-size: 11px;
    height: 11px;
}
#detail-box-2{
    position: absolute;
    top: 140px;
    left: 1130px;
    height: 60px;
    right:0;
    background-color: rgba(16, 16, 16, 1);
}
#detail-box-2-image{
    position: absolute;
top: 15px;
left: 15px;
height: 20px;
width: 18px;
}
#detail-area-head{
    position: absolute;
top: 13px;
left: 45px;
height: 10px;
font-family: 'Antipasto';
font-size: 9px;
color: rgba(184, 184, 184, 1);
}
.detail-area-content{
    position: absolute;
    display: inline-block;
    top: 21px;
    left:45px;
    color: rgba(255, 255, 255, 1);
}
#detail-area-content-1{
    font-family: 'Antipasto';
    font-size: 15px;
    height: 15px;
}
#detail-area-content-2{
    font-family: 'Antipasto';
    font-size: 11px;
    height: 11px;
}
#detail-box-3{
    position: absolute;
    top: 200px;
    left: 1130px;
    height: 60px;
    right:0;
}
#detail-box-3-image{
    position: absolute;
top: 15px;
left: 15px;
height: 20px;
width: 18px;
}
#detail-bedroom-head{
    position: absolute;
top: 13px;
left: 45px;
height: 10px;
font-family: 'Antipasto';
font-size: 9px;
color: rgba(184, 184, 184, 1);
}
#detail-bedroom-content{
    position: absolute;
    top: 21px;
    left:45px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Antipasto';
    font-size: 15px;
    height: 15px;
}
#detail-box-4{
    position: absolute;
    top: 260px;
    left: 1130px;
    height: 60px;
    right:0;
    background-color: rgba(16, 16, 16, 1);
}
#detail-box-4-image{
    position: absolute;
top: 15px;
left: 15px;
height: 20px;
width: 18px;
}
#detail-bathroom-head{
    position: absolute;
top: 13px;
left: 45px;
height: 10px;
font-family: 'Antipasto';
font-size: 9px;
color: rgba(184, 184, 184, 1);
}
#detail-bathroom-content{
    position: absolute;
    top: 21px;
    left:45px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Antipasto';
    font-size: 15px;
    height: 15px;
}
#detail-description{
    position: absolute;
top: 335px;
left: 695px;
height: 100px;
font-family: 'Antipasto';
font-size: 10px;
color: rgba(255, 255, 255, 1);
line-height: 12px;
}
#detail-seller-head{
    position: absolute;
top: 445px;
left: 695px;
height: 20px;
width: 65px;
font-family: 'Antipasto';
font-size: 12px;
color: rgba(47, 181, 110, 1);

}
#detail-seller-username{
    position: absolute;
top: 460px;
left: 695px;
height: 20px;
width: 336px;
font-family: 'Antipasto';
font-size: 10px;
color: rgba(198, 198, 198, 1);
}
#detail-seller-address{
    position: absolute;
top: 473px;
left: 695px;
height: 60px;
width: 336px;
font-family: 'Antipasto';
font-size: 10px;
color: rgba(198, 198, 198, 1);
}
#detail-task-bar{
    position: absolute;
top: 510px;
left: 680px;
height: 45px;
right:0;
background-color: rgba(35, 35, 35, 1);
}
#detail-mail-image{
    position: absolute;
top: 523px;
left: 700px;
height: 18px;
width: 24px;
box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.5);
}
#detail-mail{
    position: absolute;
top: 525px;
left: 729px;
height: 10px;
width: 50px;
font-family: 'Antipasto';
font-size: 11px;
color: rgba(198, 198, 198, 1);
}
#detail-phone-image{
    position: absolute;
top: 523px;
left: 820px;
height: 18px;
width: 18px;

}
#detail-phone{
    position: absolute;
top: 525px;
left: 843px;
height: 10px;
width: 65px;
font-family: 'Antipasto';
font-size: 11px;
color: rgba(198, 198, 198, 1);
}
#detail-shortlist-image{
     position: absolute;
top: 523px;
left: 953px;
height: 18px;
width: 17px;
font-size: 5px;
background-color: Transparent;

}
#detail-shortlist{
    position: absolute;
top: 525px;
left: 965px;
height: 10px;
width: 45px;
font-family: 'Antipasto';
font-size: 11px;
color: rgba(198, 198, 198, 1);
}
#detail-map-image{
     position: absolute;
top: 523px;
left: 1055px;
height: 18px;
width: 16px;
}
#detail-map{
    position: absolute;
top: 525px;
left: 1076px;
height: 10px;
width: 20px;
font-family: 'Antipasto';
font-size: 11px;
color: rgba(198, 198, 198, 1);
}
#detail-share-image{
     position: absolute;
top: 523px;
left: 1140px;
height: 18px;
width: 16px;
}
#detail-share{
    position: absolute;
top: 525px;
left: 1161px;
height: 10px;
width: 30px;
font-family: 'Antipasto';
font-size: 11px;
color: rgba(198, 198, 198, 1);
}


/* filter.html */

#filter-big-box-1{
    position: absolute;
    top: 70px;
    left: 0px;
    background-color: rgba(11, 11, 11, 1);  
    bottom:0;
    right:0;
}
#filter-big-box-2{
    position: absolute;
    top: 75px;
    left: 0px;
    background-color: rgba(22, 22, 22, 1);
    bottom:0;
    right:0;
}
#filter-logo{
    
    position: absolute;
    top: 15px;
    left: 15px;
    height: 45px;
    width: 110px;
}
#filter-head-1{
    position: absolute;
top: 90px;
left: 20px;
height: 16px;
width: 45px;
font-family: 'Antipasto';
font-size: 16px;
color: rgba(255, 255, 255, 1);
z-index: 1;
}
#filter-head-2{
    position: absolute;
top: 90px;
left: 65px;
height: 16px;
width: 60px;
font-family: 'Antipasto';
font-size: 16px;
color: rgba(47, 181, 110, 1);
z-index: 1;
}
.filter-location-1{
    position: absolute;
top: 150px;
left: 20px;
height: 35px;
width: 130px;
background-color: rgba(240, 240, 240, 1);
border: none;
font-family: 'Antipasto';
font-size: 12px;
text-align: center;
color: rgba(51, 51, 51, 1);
}
.filter-property-status{
    position: absolute;
top: 150px;
left: 151px;
height: 35px;
width: 130px;
background-color: rgba(240, 240, 240, 1);
border: none;
font-family: 'Antipasto';
font-size: 12px;
text-align: center;
color: rgba(51, 51, 51, 1);
}
.filter-areamin{
    position: absolute;
top: 150px;
left: 282px;
height: 35px;
width: 130px;
background-color: rgba(240, 240, 240, 1);
border: none;
font-family: 'Antipasto';
font-size: 12px;
text-align: center;
color: rgba(51, 51, 51, 1);
}
.filter-areamax{
    position: absolute;
top: 150px;
left: 413px;
height: 35px;
width: 130px;
background-color: rgba(240, 240, 240, 1);
border: none;
font-family: 'Antipasto';
font-size: 12px;
text-align: center;
color: rgba(51, 51, 51, 1);
}
#filter_submit{
    position: absolute;
top: 150px;
left: 544px;
height: 35px;
width: 80px;
background-color: rgba(47, 181, 110, 1);
border: none;
font-family: 'Antipasto';
font-size: 12px;
text-align: center;
color: rgba(51, 51, 51, 1);
}
.filter-grid{
    position:absolute;
    top:185px;
    height:400px;
    width:1360px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-gap: 20px;
    padding:20px;
    border: 1px solid blue;
    /*background-color: rgba(22, 22, 22, 1);*/
}
.filter-grid-content{
    position: relative;
    height:170px;
    width:650px;
    border: 1px solid red;


}
.filter-image{
    position: absolute;
    top:10px;
    left: 10px;
    height:110px;
    width:200px;
}
.filter-rent{
    position: absolute;
    top:10px;
    left:160px;
    height: 15px;
    width: 50px;
    background-color: rgba(47, 181, 110, 1);
    font-family: 'Antipasto';
    font-size: 10px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
}
.filter-sell{
    position: absolute;
    top:10px;
    left:160px;
    height: 15px;
    width: 50px;
    background-color: rgba(231, 93, 54, 1);
    font-family: 'Antipasto';
    font-size: 10px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
}
.filter-price{
    position: absolute;
    display: inline-block;
    top: 3px;
    left:220px;
    color: rgba(47, 181, 110, 1);
}
.filter-price-1{
    z-index: 1;
    font-family: 'PingFangSC-Regular';
    font-size: 15px;
    
}
.filter-price-2{
    font-family: 'Antipasto';
    font-size: 15px;
    height: 15px;
}
.filter-price-3{
    font-family: 'Antipasto';
    font-size: 15px;
    height: 15px;
}
.filter-type-and-loc{
    position: absolute;
top: 27px;
left: 220px;
height: 10px;
font-family: 'Antipasto';
font-size: 11px;
color: rgba(176, 176, 176, 1);
}
.filter-plot-area{
    position: absolute;
top: 45px;
left: 220px;
height: 10px;
font-family: 'Antipasto';
font-size: 11px;
color: rgba(176, 176, 176, 1);
}
.filter-society{
    position: absolute;
top: 63px;
left: 220px;
height: 10px;
width: 65px;
font-family: 'Antipasto';
font-size: 11px;
color: rgba(176, 176, 176, 1);
}
.filter-description-head{
    position: absolute;
top: 81px;
left: 220px;
height: 10px;
width: 65px;
font-family: 'Antipasto';
font-size: 11px;
color: rgba(176, 176, 176, 1);
}
.filter-posted{
    position: absolute;
top: 99px;
left: 220px;
height: 10px;
width: 65px;
font-family: 'Antipasto';
font-size: 11px;
color: rgba(176, 176, 176, 1);
}
.filter-location{
    position: absolute;
    top:27px;
    left:298px;
    height: 15px;
    font-family: 'Antipasto';
    font-size: 11px;
    color: rgba(255, 255, 255, 1);
}
.filter-area{
    position: absolute;
    display: inline-block;
    top: 45px;
    left:270px;
    font-family: 'Antipasto';
    font-size: 11px;
    color: rgba(255, 255, 255, 1);
}
.filter-city{
    position: absolute;
    top:63px;
    left: 260px;
    height: 15px;
    font-family: 'Antipasto';
    font-size: 11px;
    color: rgba(255, 255, 255, 1);
}
.filter-description{
    position: absolute;
    top:81px;
    left:275px;
    height: 15px;
    font-family: 'Antipasto';
    font-size: 11px;
    color: rgba(255, 255, 255, 1);
}
.filter-date{
    position: absolute;
    top:99px;
    left:258px;
    height: 15px;
    font-family: 'Antipasto';
    font-size: 11px;
    color: rgba(255, 255, 255, 1);
}
.filter-task-bar{
    position: absolute;
top: 130px;
left: 0;
height: 40px;
right:0;
background-color: rgba(35, 35, 35, 1);
}
.filter-mail-image{
    position: absolute;
top: 140px;
left: 20px;
height: 18px;
width: 24px;
box-shadow: 0px 0px 1px #fff;
}
.filter-mail{
    position: absolute;
top: 142px;
left: 49px;
height: 10px;
width: 50px;
font-family: 'Antipasto';
font-size: 11px;
color: rgba(198, 198, 198, 1);
}
.filter-phone-image{
    position: absolute;
top: 140px;
left: 140px;
height: 18px;
width: 18px;
}
.filter-phone{
    position: absolute;
top: 142px;
left: 163px;
height: 10px;
width: 65px;
font-family: 'Antipasto';
font-size: 11px;
color: rgba(198, 198, 198, 1);
}
.filter-shortlist-image{
     position: absolute;
top: 140px;
left: 273px;
height: 18px;
width: 17px;
font-size: 5px;
background-color: Transparent;

}
.filter-shortlist{
    position: absolute;
top: 142px;
left: 285px;
height: 10px;
width: 45px;
font-family: 'Antipasto';
font-size: 11px;
color: rgba(198, 198, 198, 1);
}
.filter-map-image{
     position: absolute;
top: 140px;
left: 375px;
height: 18px;
width: 16px;
}
.filter-map{
    position: absolute;
top: 142px;
left: 396px;
height: 10px;
width: 20px;
font-family: 'Antipasto';
font-size: 11px;
color: rgba(198, 198, 198, 1);
}
.filter-share-image{
     position: absolute;
top: 140px;
left: 460px;
height: 18px;
width: 16px;
}
.filter-share{
    position: absolute;
top: 142px;
left: 481px;
height: 10px;
width: 30px;
font-family: 'Antipasto';
font-size: 11px;
color: rgba(198, 198, 198, 1);
}
#filter-fb{
    position: absolute;
    top: 610px;
    left: 20px;
    height: 20px;
    width: 20px;    
}
#filter-twitter{
    position: absolute;
    top: 611px;
    left: 50px;
    height: 20px;
    width: 20px;
}
#filter-google{
    position: absolute;
    top: 611px;
    left: 80px;
    height: 20px;
    width: 20px;
}
#filter-copyright{
    position: absolute;
    top: 615px;
    left: 110px;
    height: 10px;
    width: 192px;
    font-family: 'Antipasto';
    font-size: 9px;
    color: rgba(255, 255, 255, 1);
}