#welcome {
    position: absolute;
    top: 205px;
    left: 70px;
    height: 56px;
    width: 378px;
    font-family: 'Antipasto';
    font-size: 35px;
    color: rgba(255, 255, 255, 1);
    text-align: left;
}

#logo {
    
    position: absolute;
    top: 35px;
    left: 70px;
    height: 90px;
    width: 225px;
}

#welcome-sub {
    position: absolute;
    top: 260px;
    left: 70px;
    height: 93px;
    width: 452px;
    font-family: 'Antipasto';
    font-size: 11px;
    color: rgba(255, 255, 255, 1);
    line-height: 16px;
    

}

.home-filter {
    position: absolute;
    top: 370px;
    height: 30px;
    background-color: rgba(105, 121, 142, 1);
    font-family: 'Antipasto';
    font-size: 11px;
    color: rgba(240, 240, 240, 1);
    border:none;
}
.home-filter:hover {
  background-color: rgba(39, 53, 71, 1);
}
.home-filter:active {
  background-color: rgba(39, 53, 71, 1);
}
#home-filter1{
    left: 70px;
    width: 45px;
}
#home-filter2{
    left: 118px;
    width: 45px;
}
#home-filter3{
    left: 166px;
    width: 90px;
}
#home-filter4{
    left: 259px;
    width: 120px;
}
#home_search{
    position: absolute;
    top: 400px;
    left: 70px;
    height: 38px;
    width: 405px;
    background-color: rgba(240, 240, 240, 1);
    font-family: 'Antipasto';
    font-size: 12px;
    border:none;
}
#home-submit{
    position: absolute;
    top: 400px;
    left: 476px;
    height: 38px;
    width: 85px;
    background-color: rgba(47, 181, 110, 1);
    font-family: 'Antipasto';
    font-size: 14px;
    color: rgba(255, 255, 255, 1);
    border:none;
}
#home-fb{
    position: absolute;
    top: 600px;
    left: 70px;
    height: 20px;
    width: 20px;    
}
#home-google{
    position: absolute;
    top: 601px;
    left: 100px;
    height: 20px;
    width: 20px;
}
#home-twitter{
    position: absolute;
    top: 600px;
    left: 130px;
    height: 20px;
    width: 20px;
}
#home-copyright{
    position: absolute;
    top: 605px;
    left: 160px;
    height: 9px;
    width: 192px;
    font-family: 'Antipasto';
    font-size: 11px;
    color: rgba(255, 255, 255, 1);
}
.home-top-right{
    position: absolute;
    color: rgba(255, 255, 255, 1);
    font-family: 'Antipasto';
    font-size: 11px;
    height: 20px;
    top: 35px;
    background-color: Transparent;
    border: none;
}
.home-top-right:hover {
    background-color: rgba(0, 0, 0, 1);
    color: rgba(47, 181, 110, 1);
}
.home-top-right:active {
    background-color: rgba(0, 0, 0, 1);
    color: rgba(47, 181, 110, 1);
}

#home-top-right-1{
    left: 770px;
    width: 45px;
}

#home-top-right-2{
    left: 820px;
    width: 60px;
}
#home-top-right-3{
    left: 885px;
    width: 110px;
}
#home-top-right-4{
    left: 1000px;
    width: 100px;
}
#home-top-right-5{
    left: 1105px;
    width: 90px;
}
#home-top-right-6{
    left: 1200px;
    width: 90px;
}
#home-login{
    left: 1295px;
    width: 48px;    
}
#home-logout{
    left: 1295px;
    width: 48px;  
}
#home-profile{
    height: 24px;
    top: 10px;
    left: 1285px; 
    width: 80px;
}

/* aboutus.html */

#aboutus-big-box {
    position: absolute;
    top: 75px;
    left: 675px;
    background-color: rgba(11, 11, 11, 1);  
    bottom:0;
    right:0;
}
#aboutus-banner-slider{
    position: absolute;
    top: 80px;
    left: 680px;
    height: 260px;
    width:680px;
}
#aboutus-detail-bar{
    position: absolute;
    top: 290px;
    left: 680px;
    height: 70px;
    width: 680px;
    background-color: rgba(11, 11, 11, 1);  
    opacity: 0.95;
}
#aboutus-location-carousel{
    position: absolute;
    top: 300px;
    left: 700px;
    height: 30px;
    width: 25px;
}
#location-carousel-sub1{
    position: absolute;
    top: 295px;
    left: 715px;
    height: 10px;
    width: 141px;
    font-family: 'Antipasto';
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
}
#part80-90{
    position: absolute;
    top: 315px;
    left: 710px;
    height: 10px;
    width: 100px;
    font-family: 'Antipasto';
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    
}
#partLakhs{
    position: absolute;
    top: 320px;
    left: 760px;
    height: 5px;
    width: 70px;
    font-family: 'Antipasto';
    font-size: 11px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
}
#aboutus-area{
    position: absolute;
    top: 300px;
    left: 1000px;
    height: 30px;
    width: 25px;
}
#area-head{
    position: absolute;
    top: 298px;
    left: 1030px;
    height: 10px;
    width: 32px;
    font-family: 'Antipasto';
    font-size: 12px;
    color: rgba(184, 184, 184, 1);
    text-align: center;
}
#part7789{
    position: absolute;
    top: 310px;
    left: 1005px;
    height: 15px;
    width: 83px;
    font-family: 'Antipasto';
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
}
#partsqft{
    position: absolute;
    top: 315px;
    left: 1032px;
    height: 10px;
    width: 83px;
    font-family: 'Antipasto';
    font-size: 12px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
}
#aboutus-bedroom{
    position: absolute;
    top: 300px;
    left: 1135px;
    height: 30px;
    width: 25px;
}
#bedroom-head{
    position: absolute;
    top: 300px;
    left: 1160px;
    height: 10px;
    width: 63px;
    font-family: 'Antipasto';
    font-size: 12px;
    color: rgba(184, 184, 184, 1);
    text-align: center;
}
#bedroom-sub{
    position: absolute;
    top: 313px;
    left: 1170px;
    height: 15px;
    width: 12px;
    font-family: 'Antipasto';
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
}
#aboutus-bathroom{
    position: absolute;
    top: 300px;
    left: 1240px;
    height: 30px;
    width: 25px;
}
#bathroom-head{
    position: absolute;
    top: 300px;
    left: 1265px;
    height: 10px;
    width: 65px;
    font-family: 'Antipasto';
    font-size: 12px;
    color: rgba(184, 184, 184, 1);
    text-align: center;
}
#bathroom-sub{
    position: absolute;
    top: 313px;
    left: 1275px;
    height: 15px;
    width: 11px;
    font-family: 'Antipasto';
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
}
#aboutus-small-box{
    position: absolute;
    top: 340px;
    left: 680px;
    background-color: rgba(22, 22, 22, 1);
    bottom:0;
    right:0;
}
#partabout{
    position: absolute;
    top: 350px;
    left: 700px;
    height: 16px;
    width: 82px;
    font-family: 'Antipasto';
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
}
#partus{
    position: absolute;
    top: 350px;
    left: 745px;
    height: 16px;
    width: 82px;
    font-family: 'Antipasto';
    font-size: 16px;
    color: rgba(47, 181, 110, 1);
}
#aboutus-content{
    position: absolute;
    top: 385px;
    left: 700px;
    height: 160px;
    width: 642px;
    font-family: 'Antipasto';
    font-size: 10px;
    color: rgba(255, 255, 255, 1);
    line-height: 15px;
}
#aboutus-location-aboutus{
    position: absolute;
    top: 510px;
    left: 700px;
    height: 25px;
    width: 20px;
}
#location-head{
    position: absolute;
    top: 505px;
    left: 730px;
    height: 10px;
    width: 58px;
    font-family: 'Antipasto';
    font-size: 14px;
    color: rgba(255, 255, 255, 1);
}
#location-sub{
    position: absolute;
    top: 525px;
    left: 730px;
    height: 10px;
    width: 298px;
    font-family: 'Antipasto';
    font-size: 9px;
    color: rgba(225, 225, 225, 1);
}
#aboutus-phone{
    position: absolute;
    top: 555px;
    left: 700px;
    height: 25px;
    width: 20px;
}
#phone-head{
    position: absolute;
    top: 550px;
    left: 730px;
    height: 10px;
    width: 58px;
    font-family: 'Antipasto';
    font-size: 14px;
    color: rgba(255, 255, 255, 1);
}
#phone-sub{
    position: absolute;
    top: 570px;
    left: 730px;
    height: 10px;
    width: 298px;
    font-family: 'Antipasto';
    font-size: 9px;
    color: rgba(225, 225, 225, 1);
}
#contact-now{
    position: absolute;
    top: 595px;
    left: 730px;
    height: 25px;
    width: 85px;
    background-color: rgba(47, 181, 110, 1);
    font-family: 'Antipasto';
    font-size: 11px;
    color: rgba(255, 255, 255, 1);
    border:none;
}
#recentBigBox{
    position: absolute;
    top: 75px;
    left: 675px;
    background-color: rgba(11, 11, 11, 1);  
    bottom:0;
    right:0;
}
#recentBigBox2{
    position: absolute;
    top: 80px;
    left: 680px;
    background-color: rgba(22, 22, 22, 1);
    bottom:0;
    right:0;
}
#recentHead1{
    position: absolute;
    top: 90px;
    left: 690px;
    height: 27px;
    width: 100px;
    font-family: 'Antipasto';
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
}
#recentHead2{
    position: absolute;
    top: 90px;
    left: 740px;
    height: 27px;
    width: 100px;
    font-family: 'Antipasto';
    font-size: 16px;
    color: rgba(47, 181, 110, 1);
}
.recentTopRight{
    position: absolute;
    color: rgba(255, 255, 255, 1);
    font-family: 'Antipasto';
    font-size: 11px;
    height: 15px;
    top: 90px;
    background-color: Transparent;
    border: none;
}
.recentTopRight:hover {
    background-color: rgba(0, 0, 0, 1);
    color: rgba(47, 181, 110, 1);
}
.recentTopRight:active {
    background-color: rgba(0, 0, 0, 1);
    color: rgba(47, 181, 110, 1);
}
#recentTopRight1{
    left:1050px;
    width:65px;
}
#recentTopRight2{
    left:1120px;
    width:95px;
}
#recentTopRight3{
    left:1220px;
    width:65px;
}
#recentTopRight4{
    left:1290px;
    width:50px;
}
#recentContent{
    position:relative;
    display: grid;
    top:120px;
    left:690px;
    height:535px;
    width:670px;
    grid-template-columns: auto auto auto;
    grid-gap: 5px;
    background-color: #2196F3;

}
#recentList{
    position:relative;
    height:150px;
    width:160px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid black;
    text-align: center;
    background-color: red;
}
#recentImage{
    height:50px;
    width:50px;
}
#recentSellOrRent{}
#recentCity{}
#recentAddress{}
#recentPrice1{}
#recentPrice2{}
#recentLike{}
