#welcome {
    position: absolute;
    top: 382px;
    left: 100px;
    height: 56px;
    width: 378px;
    font-family: 'Comfortaa', cursive;
    font-size: 30px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    
}

#logo {
    position: absolute;
    top: 61px;
    left: 100px;
    height: 125px;
    width: 319px;
}

#welcome-sub {
    position: absolute;
    top: 447px;
    left: 101px;
    height: 93px;
    width: 661px;
    font-family: 'Comfortaa', cursive;
    font-size: 11px;
    color: rgba(255, 255, 255, 1);
    line-height: 24px;
}

.home-filter {
    position: absolute;
    top: 620px;
    height: 38px;
    background-color: rgba(105, 121, 142, 1);
    font-family: 'Comfortaa', cursive;
    font-size: 10px;
    color: rgba(240, 240, 240, 1);
}
.home-filter:hover {
  background-color: rgba(39, 53, 71, 1);
}
.home-filter:active {
  background-color: rgba(39, 53, 71, 1);
}
#home-filter1{
    left: 102px;
    width: 65px;
}
#home-filter2{
    left: 170px;
    width: 65px;
}
#home-filter3{
    left: 238px;
    width: 127px;
}
#home-filter4{
    left: 368px;
    width: 166px;
}
#home-search{
    position: absolute;
    top: 658px;
    left: 102px;
    height: 48px;
    width: 562px;
    background-color: rgba(240, 240, 240, 1);
}
#home-submit{
    position: absolute;
    top: 658px;
    left: 665px;
    height: 48px;
    width: 120px;
    background-color: rgba(47, 181, 110, 1);
    font-family: 'Comfortaa', cursive;
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
}
#home-fb{
    position: absolute;
    top: 980px;
    left: 100px;
    height: 30px;
    width: 30px;    
}
#home-google{
    position: absolute;
    top: 981px;
    left: 200px;
    height: 30px;
    width: 30px;
}
#home-twitter{
    position: absolute;
    top: 980px;
    left: 150px;
    height: 30px;
    width: 30px;
}
#home-copyright{
    position: absolute;
    top: 990px;
    left: 250px;
    height: 14px;
    width: 192px;
    font-family: 'Comfortaa', cursive;
    font-size: 8px;
    color: rgba(255, 255, 255, 1);
}
.home-top-right{
    color: rgba(255, 255, 255, 1);
    font-family: 'Comfortaa', cursive;
    font-size: 10px;
    height: 24px;
    top: 58px;
    position: absolute;
    background-color: Transparent;
    border: none;
}
.home-top-right:hover {
    background-color: rgba(0, 0, 0, 1);
    color: rgba(47, 181, 110, 1);
}
.home-top-right:active {
    background-color: rgba(0, 0, 0, 1);
    color: rgba(47, 181, 110, 1);
}

#home-top-right-1{
    left: 1134px;
    width: 69px;
}

#home-top-right-2{
    left: 1201px;
    width: 84px;
}
#home-top-right-3{
    left: 1303px;
    width: 140px;
}
#home-top-right-4{
    left: 1462px;
    width: 132px;
}
#home-top-right-5{
    left: 1613px;
    width: 103px;
}
#home-top-right-6{
    left: 1735px;
    width: 90px;
}
#home-top-right-7{
    left: 1843px;
    width: 48px;    
}
