#forgot{
	text-align: center;
	color:white;

}
#email-head{
	position: absolute;
	top: 63px;
	left:535px;
	color: white;
	font-size: 18px;
}
#submit{
	cursor: pointer;
    position: absolute;
    top: 60px;
    left: 765px;
    height: 25px;
    width: 70px;
    background-color: rgba(47, 181, 110, 1);
    font-family: 'Antipasto';
    font-size: 11px;
    color: rgba(255, 255, 255, 1);
    border:none;
}
#id_email{
	position: absolute;
    top: 60px;
    left: 585px;
    height: 20px;
}
