<!doctype html>
<html lang="en">
{% load static %} 
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Login</title>

    <!-- Google fonts -->    
<style>
    @font-face {
    font-family: 'Antipasto';
    src: local('Antipasto'),
                        url('{% static 'realbuy_app/fonts/Antipasto.ttf' %} ');
    }
</style>
<style type="text/css">
    
    body { 
        background: url('{% static "realbuy_app/images/bg.png" %}') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
         
</style>
    <!-- Custom styles for this template -->
<link href="{% static 'realbuy_app/styles/home.css' %}" rel="stylesheet"> 
</head>

<body>
  <h3>Forgot password</h3>
  <form method="post">
    {% csrf_token %}
    {{form}}
    <button type="submit">Submit</button>
  </form>
</body>
</html>