<!doctype html>
<html lang="en">
{% load static %} 
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>forgot password 1</title>

    <!-- Google fonts -->    
<style>
    @font-face {
    font-family: 'Antipasto';
    src: local('Antipasto'),
                        url('{% static 'realbuy_app/fonts/Antipasto.ttf' %} ');
    }
</style>
<style type="text/css">
    
    body { 
        background: url('{% static "realbuy_app/images/bg.png" %}') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
         
</style>
    <!-- Custom styles for this template -->
<link href="{% static 'members/styles/password_reset_form.css' %}" rel="stylesheet"> 
</head>

<body>
    
  <h3 id="forgot">Forgot password</h3>
  <form method="post" autocomplete="off">
    {% csrf_token %}
    <span id="email-head">Email:</span>
    <input type="email" name="email" maxlength="254" required id="id_email">
    <button id="submit" type="submit">SUBMIT</button>
  </form>


<!--
<h3 id="forgot">Forgot password</h3>
  <form method="post">
    {% csrf_token %}
    <span id="email-head">Email:</span>
    <input type="email" name="email" autocomplete="off" maxlength="254" required id="id_email">
    <button id="submit" type="submit">SUBMIT</button>
  </form>
-->
</body>
</html>
