<!doctype html>
<html lang="en">
{% load static %} 
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Change password</title>

    <!-- Google fonts -->    
<style>
    @font-face {
    font-family: 'Antipasto';
    src: local('Antipasto'),
                        url('{% static 'realbuy_app/fonts/Antipasto.ttf' %} ');
    }
</style>
<style type="text/css">
    
    body { 
        background: url('{% static "realbuy_app/images/bg.png" %}') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
         
</style>
    <!-- Custom styles for this template -->
<link href="{% static 'members/styles/password_reset_confirm.css' %}" rel="stylesheet">
</head>
<body>
  {% if validlink %}
    
    <form method="post">
      {% csrf_token %}
      <span id="new_password">New password</span>
      {{ form.new_password1 }}
      <span style="color:red; position:absolute; top:120px; left:450px;"> <br><br>
        Your password can’t be too similar to your other personal information.<br>
        Your password must contain at least 8 characters.<br>
        Your password can’t be a commonly used password.<br>
        Your password can’t be entirely numeric.<br>
      </span>
      <span id="confirm_password">Confirm password</span>
      {{ form.new_password2 }}
      <button type="submit">CHANGE PASSWORD</button>
    </form>
  {% else %}
    <p style="color:white;text-align:center;">
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
      
    </p>
  {% endif %}
</body>
</html>