{% extends 'realbuy_app/base.html' %}
{% load static %}
{% block title %}About Us {% endblock %}
{% block content %}

<div id="aboutus-big-box"></div>
<img src="{% static 'realbuy_app/images/banner_slider.png' %}" id="aboutus-banner-slider">
<div id="aboutus-detail-bar"></div>
<img src="{% static 'realbuy_app/images/location_carousel.png' %}" id="aboutus-location-carousel">
<span id="location-carousel-sub1">Desai DD Valley</span>
<span id="part80-90">80-90 </span>
<span id="partLakhs">Lakhs </span>
<img src="{% static 'realbuy_app/images/area.png' %}" id="aboutus-area">
<span id="area-head">Area</span>
<span id="part7789">7,789</span>
<span id="partsqft">SQFT</span>
<img src="{% static 'realbuy_app/images/bedroom.png' %}" id="aboutus-bedroom">
<span id="bedroom-head">Bedrooms</span>
<span id="bedroom-sub">5</span>
<img src="{% static 'realbuy_app/images/bathroom.png' %}" id="aboutus-bathroom">
<span id="bathroom-head">Bathrooms</span>
<span id="bathroom-sub">4</span>
<div id="aboutus-small-box"></div>
<span id="partabout">About</span>
<span id="partus">Us</span>
    
<span id="aboutus-content">Realbuy is a real estate firm with a vision to create luxurious living spaces that surpass the expectations of customers. Although recently launched the firm is driven with an instinct and far stretching insight that improves the real estate offerings in the city. Realbuy is a well-known name in creating the high-quality residential projects in Kochi region. With years of experience, the company has earned a good reputation in providing quality construction along with its dedicated team. It is a diversified group with significant .
<br><br>Realbuy has built a remarkable name and has established itself as one of the well known entities in the real estate arena. Providing help and assistance to the clients regarding realty issues along with offering useful and effective real estate solutions, stems out as the company's main motto sinc.
</span>
<img src="{% static 'realbuy_app/images/location_aboutus.png' %}" id="aboutus-location-aboutus">
<span id="location-head">Address</span>
<span id="location-sub">9A, 9th floor, Carnival Infopark, Kakkanad, Kochi - 682 030</span>
<img src="{% static 'realbuy_app/images/phone_aboutus.png' %}" id="aboutus-phone">
<span id="phone-head">Phone</span>
<span id="phone-sub">0484-2415010</span>
<a href='{% url 'contactus' %}'>
    <button type="button" id="contact-now">CONTACT NOW</button>
</a>

{% endblock %}