<!doctype html>
<html lang="en">
{% load static %}
    
<head><title>Add Property</title></head>
<body>


<h1>Add Property</h1>



<form method="POST">
    {% csrf_token %}

    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="myfile">
    <button type="submit">Upload</button>
	</form>

	  {% if uploaded_file_url %}
	    <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
	  {% endif %}
    
    {{ form.as_p }}
    <a href='{% url 'add2' %}'>
<button type="submit" id="next-add2">Next</button>
</a>
    
</form>



</body>
</html>