{% extends 'realbuy_app/base.html' %}
{% load static %}
{% block title %}Add Property{% endblock %}
{% block links %}
<link href="{% static 'realbuy_app/styles/add2.css' %}" rel="stylesheet">
{% endblock %}
{% block styles %}
<style type="text/css">
  input[type="radio"]{
    display:none;
  }

  input[type="radio"] + label
  {
    background-image:url('{% static 'realbuy_app/images/add1/default_bullet.png' %}');
    background-size: cover;
  }

  input[type="radio"]:checked + label
  {
    background-image:url('{% static 'realbuy_app/images/add1/select_bullet.png' %}');
    background-size: cover;
  }
  select {
  /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
  }

/* For IE10 */
select::-ms-expand {
  display: none;
}
</style>
{% endblock %}

{% block content %}
<script src="{% static 'realbuy_app/scripts/add2.js' %}"></script> 
<div id="add2-big-box"></div>
<div id="add2-big-box-2"></div> 
<span id="add2-head-1">ADD</span> <span id="add2-head-2">PROPERTY</span>
<div id="add2-basic-info">BASIC INFORMATION</div>
<div id="add2-property-details">PROPERTY DETAILS</div>

<div id="add2-bar-1"></div>
<div id="add2-bar-2"></div>
<div id="add2-bar-3"></div>
<span id="add2-bar-1-content">Property Area </span>
<span id="add2-bar-2-content">Transaction Type </span>
<span id="add2-bar-3-content">Availability</span>

<form id='AddForm2' method="post">
    {% csrf_token %}


<p><label for="id_price"></label> <input class="add2-price" type="text" name="price" id="id_price" placeholder="AskingPrice: &#8377;" autocomplete="off" onblur="priceValidate();"></p>
<p><label for="id_bathroom"></label> <input class="add2-bathroom" type="text" name="bathroom" id="id_bathroom" placeholder="Bathroom(s)" autocomplete="off" onblur="bathroomValidate();"></p>
<p><label for="id_bedroom"></label> <input class="add2-bedroom" type="text" name="bedroom" id="id_bedroom" placeholder="Bedroom(s)" autocomplete="off" onblur="bedroomValidate();"></p>
<div class="add2_error" id="add2_error"></div>
<p><label for="id_built_up_area"></label> 
  <input class="add2-built" type="text" name="built_up_area" required id="id_built_up_area" placeholder="Built-Up Area" autocomplete="off" onblur="builtValidate();"></p>
<p><label for="id_built_up_unit"></label>
 <select class="add2-built-unit" name="built_up_unit" class="builtupunit" id="id_built_up_unit" required>
  <option value="" disabled selected hidden>Unit</option>

  <option value="CENTS" style="color: rgba(140, 140, 140, 1);background-color: rgba(22, 22, 22, 1);">cents</option>

  <option value="SQM" style="color: rgba(140, 140, 140, 1);background-color: rgba(22, 22, 22, 1);">sq.m</option>

  <option value="SQFT" style="color: rgba(140, 140, 140, 1);background-color: rgba(22, 22, 22, 1);">sq.ft</option>

</select></p>
<img class="add2-dropdown1" src="{% static 'realbuy_app/images/dropdown_arrow.png' %}" >
<p><label for="id_carpet_area"></label> 
  <input class="add2-carpet" type="text" name="carpet_area" required id="id_carpet_area" placeholder="Carpet Area" autocomplete="off" onblur="carpetValidate();"></p>
<p><label for="id_carpet_unit"></label> 
  <select class="add2-carpet-unit" name="carpet_unit" class="carpetunit" id="id_carpet_unit" required>
  <option value="" disabled selected hidden >Unit</option>

  <option value="CENTS" style="color: rgba(140, 140, 140, 1);background-color: rgba(22, 22, 22, 1);">cents</option>

  <option value="SQM" style="color: rgba(140, 140, 140, 1);background-color: rgba(22, 22, 22, 1);">sq.m</option>

  <option value="SQFT" style="color: rgba(140, 140, 140, 1);background-color: rgba(22, 22, 22, 1);">sq.ft</option>

</select></p>
<img class="add2-dropdown2" src="{% static 'realbuy_app/images/dropdown_arrow.png' %}" >
<p><label for="id_resale_or_new_0"></label> 
<div id="id_resale_or_new" class="resaleornew">

<div>
  
      <input type="radio" name="resale_or_new" value="resale" class="resaleornew" required id="id_resale_or_new_0" checked>
      <label for="id_resale_or_new_0" class="add2-resale-bullet">
      
</div>
<span class="add2-resale">Resale</span>
<div>
  
    <input type="radio" name="resale_or_new" value="new" class="resaleornew" required id="id_resale_or_new_1">
    <label for="id_resale_or_new_1" class="add2-new-bullet">
    

</div>
<span class="add2-new">New Booking</span>
</div>
</p>


<p><label for="id_property_floor"></label>
  <input class="add2-property-floor" type="text" name="property_floor" id="id_property_floor" placeholder="Property Floor" autocomplete="off" onblur="propertyFloorValidate();"></p>
<p><label for="owner"></label>
 <input class="add2-ownership" type="text" name="ownership" value="" id="owner" readonly required placeholder="Ownership" onclick="placeOwner()"></p>
<p><label for="id_total_floor"></label>
 <input class="add2-total-floor" type="text" name="total_floor" required id="id_total_floor" placeholder="Total Floors" autocomplete="off" onblur="totalFloorValidate();"></p>
<p><label for="id_availability_0"></label>
<div id="id_availability" class="availability">
<div>
  
    <input type="radio" name="availability" value="ready to move" class="availability" required id="id_availability_0" checked>
    <label for="id_availability_0" class="add2-ready-bullet">
    
</div>
<span class="add2-ready">Ready to move</span>
<div>
    <input type="radio" name="availability" value="under construction" class="availability" required id="id_availability_1">
    <label for="id_availability_1" class="add2-under-bullet">

</div>
<span class="add2-under">Under construction</span>
</div></p>
<p><label for="id_description"></label> 
  <textarea name="description" cols="40" rows="10" class="add2-description" placeholder="Description" minlength="20" required id="id_description" onblur="descriptionValidate();">
</textarea></p>


<button class="add2-submit" type="submit" onclick="placeOwner()">POST AD</button>

</form>

<script>
function placeOwner()
{
var name = "{{ user.username }}";
document.getElementById("owner").value = name;
document.getElementById('AddForm2').onsubmit = function() {
      
    var txt = document.getElementById('owner');
    txt.value = "{{ user.id }}";
  }
}
</script>
<!--
<script>
    
    const form = document.getElementById('AddForm2');
    form.addEventListener("submit", submitHandler);

    function submitHandler(e) {
        e.preventDefault();
        var priceok=priceValidate();
        var bathok=bathroomValidate();
        var bedok=bedroomValidate();
        var builtok=builtValidate();
        var carpetok=carpetValidate();
        var propertyok=propertyFloorValidate();
        var totalok=totalFloorValidate();
        var descok=descriptionValidate();
      if(priceok==true && bathok==true && bedok==true && builtok==true && carpetok==true && propertyok==true && totalok==true && descok==true){   
        $.ajax({
            type        : 'POST', // define the type of HTTP verb we want to use (POST for our form)
            url         : '{% url 'add2' %}', // the url where we want to POST
            data        : $('#AddForm2').serialize(), // our form data
            dataType    : 'json', // what type of data do we expect back from the server
            success     : successFunction
        });
      }
    }

    function successFunction(data) {
        if (data.message === 'success') {
            alert('Success!');
            form.reset()
        }
    }

    
</script> 
-->

{% endblock %}

{% block script %}
<script
        src="https://code.jquery.com/jquery-3.5.0.min.js"
        integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
        crossorigin="anonymous">
</script>
{% endblock %}    