<!doctype html>
<html lang="en">
{% load static %} 
{% load socialaccount %}
{% providers_media_js %}
{% load humanize %}
    
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>{% block title %}Home {% endblock %}</title>


    <!-- Bootstrap core CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

{% block links %}
{% endblock %}
    <!-- Google fonts -->
{% block styles %}
{% endblock %}

<style type="text/css">
   body { 
        background: url('{% static "realbuy_app/images/bg.png" %}') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }    
</style>

<style type="text/css">
    
    [type=checkbox] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }   

  /* IMAGE STYLES */
  [type=checkbox] + button {
    cursor: pointer;
  }

  /* CHECKED STYLES */
  [type=checkbox]:checked + button {
    background-color:rgba(39, 53, 71, 1);

  }

</style> 
    <!-- Fonts for this template -->
<style>
    @font-face {
    font-family: 'Antipasto';
    src: local('Antipasto'),
                        url('{% static 'realbuy_app/fonts/Antipasto.ttf' %} ');
    }
</style>
    <!-- Custom styles for this template -->
<link href="{% static 'realbuy_app/styles/home.css' %}" rel="stylesheet"> 
</head>
    
<body {% if messages %} onload="togglePopupLogin()" {% endif %}>

<img src="{% static 'realbuy_app/images/logo.png' %}" id="logo"> 
<span id="welcome">Welcome to realbuy</span>
<span id="welcome-sub">Realbuy is a real estate firm with a vision to create luxurious living spaces that surpass the expectations of customers. Although recently launched the firm is driven with an instinct and far stretching insight that improves the real estate offerings in the city...</span>



<form method="get" action="{% url 'category_home2' %}" style="position: absolute; width:0px;">
        <label  for="id_filter_type_0">
          <input class="home-sale-box" type="checkbox" name="filter_type1" value="sell" id="id_filter_type_0" >
          <button type="button" id="home-filter1" name="sell" value="sell" class="home-filter">SALE</button> 
        </label>
        <label  for="id_filter_type_1">
          <input class="home-rent-box" type="checkbox" name="filter_type2" value="rent" id="id_filter_type_1">
          <button type="button" id="home-filter2" value="rent" class="home-filter">RENT</button>
        </label>
        <label  for="id_filter_type_2">
          <input class="home-ready-box" type="checkbox"  name="filter_type3" value="ready to move" id="id_filter_type_2">
          <button type="button" id="home-filter3" value="ready to move" class="home-filter">READY TO MOVE</button>
        </label>
        <label  for="id_filter_type_3">
          <input class="home-under-box" type="checkbox"  name="filter_type4" value="under construction" id="id_filter_type_3">
          <button type="button" id="home-filter4" value="under construction" class="home-filter">UNDER CONSTRUCTION</button>
        </label>
      <input type="text" placeholder="Type Location or Project/Society or Keyword" name="home_search" id="home_search" autocomplete="off">
      <button type="submit" id="home-submit">SEARCH</button>
</form>



<a href="https://www.facebook.com/real.buy.5439/">
<img src="{% static 'realbuy_app/images/fb.png' %}" id="home-fb">
</a>
<a href="https://twitter.com/realbuy2">
<img src="{% static 'realbuy_app/images/twitter.png' %}" id="home-twitter">
</a>
<a href="https://myaccount.google.com/u/2/">
<img src="{% static 'realbuy_app/images/google.png' %}" id="home-google">
</a>
<span id="home-copyright">&copy; 2016. realbuy.com. All rights reserved.</span>

{% if user.is_authenticated %}
    <a href='{% url 'logout' %}'>
    <button type="button" class="home-top-right" id="home-logout" >LOGOUT</button>
    </a>
  <ul class="profile-nav">
    <li class="profile-item {% if current == 'profile' %} active {% endif %}"> 
    <a id="home-profile" class="profile-link" href='{% url 'profile' user.profile.id %}'>
    MY PROFILE
    </a>
    </li>
  </ul>
    
{% else %}
    
    <button type="button" class="home-top-right" id="home-login" onclick="togglePopupLogin()">LOGIN</button>
    
{% endif %}
<ul class="navbar-nav">
  <li class="nav-item {% if current == 'home' %} active {% endif %}">    
    <a class="nav-link" id="home-top-right-1" href='{% url 'home' %}'>
    HOME
    </a>
  </li>
  <li class="nav-item {% if current == 'aboutus' %} active {% endif %}">
    <a class="nav-link" id="home-top-right-2" href='{% url 'about_us' %}'>
    ABOUT US
    </a>
  </li>
  <li class="nav-item {% if current == 'featured' %} active {% endif %}">
    <a class="nav-link" id="home-top-right-3" href='{% url 'featured' %}'>
    FEATURED PROPERTIES
    </a>
  </li>
  <li class="nav-item {% if current == 'recent' %} active {% endif %}">
    <a class="nav-link" id="home-top-right-4" href='{% url 'recent' %}'>
    RECENT PROPERTIES
    </a>
  </li>
  <li class="nav-item {% if current == 'add' %} active {% endif %}">
    <a class="nav-link" id="home-top-right-5" href='{% url 'add1' %}'>
    ADD PROPERTY
    </a>
  </li>
  <li class="nav-item {% if current == 'contactus' %} active {% endif %}">
    <a class="nav-link" id="home-top-right-6" href='{% url 'contactus' %}'>
    CONTACT US
    </a>
  </li>
</ul>

   <!-- login popup -->
<div class="popup" id="home-popup">
  <div class="overlay"></div>
  <div class="content">
    <img id="home-popup-close" src="{% static 'realbuy_app/images/popup_close.png' %}" onclick="togglePopupLogin()">
    <span id="home-popup-head">LOGIN</span>
    <div id="home-popup-box-1"></div>
    <div id="home-popup-box-2"></div>
    <form method="POST" action="{% url 'login_page' %}">
    {% csrf_token %}

    {% for field in form %}
    {% for error in field.errors %}
        <p class="login-popup-error">{{ error }}</p>
    {% endfor %}
{% endfor %}


{% for error in form.non_field_errors %}
    <p class="login-popup-error">{{ error }}</p>
{% endfor %}


    

    
    <span id="login-popup-username-head">Name/Email</span>
    <label for="id_username"></label> <input type="text" name="username" class="login-popup-username" required id="id_username" autocomplete="off">
    <span id="login-popup-password-head">Password</span>
    <label for="id_password"></label> <input type="password" name="password" class="login-popup-password" required id="id_password" autocomplete="off">

    <button type="submit" id='login-popup-submit'>LOGIN</button>
    </form>
    <a href="{% url 'password_reset' %}" id="login-popup-forgot"> Forgot Password? </a>
    <span id="login-popup-or">Or</span>
    <a href="{% provider_login_url "facebook" method="js_sdk" %}">
    <img src="{% static 'realbuy_app/images/fb.png' %}" id="login-popup-fb">
    </a>
    <a href="{% provider_login_url "twitter" method="js_sdk" %}">
    <img src="{% static 'realbuy_app/images/twitter.png' %}" id="login-popup-twitter">
    </a>
    <a href="{% provider_login_url "google" method="js_sdk" %}">
    <img src="{% static 'realbuy_app/images/google.png' %}" id="login-popup-google">
    </a>
    <span id="login-popup-register-1">Don't have an account?</span>
    <span id="login-popup-register-2" onclick="togglePopupRegister()">Create Account</span>
  </div>
</div>

  <!-- register popup -->

<div class="popup" id="register-popup">
  <div class="overlay"></div>
  <div class="content">
    <img id="register-popup-close" src="{% static 'realbuy_app/images/popup_close.png' %}" onclick="togglePopupRegister()">
    <span id="register-popup-head">REGISTER</span>
    <div id="register-popup-box-1"></div>
    <div id="register-popup-box-2"></div>
    <form method="POST" action="{% url 'register' %}">
    {% csrf_token %}
  
    <span id="register-popup-username-head">Username</span>
    <label for="username"></label> <input type="text" name="username" id="username" class="register-popup-username" maxlength="100" autofocus required autocomplete="off">
    <span id="register-popup-email-head">Email</span>
    <label for="email-register"></label> <input type="email" name="email" id="email-register" class="register-popup-email" required autocomplete="off">
    <span id="register-popup-password1-head">Password</span>
    <label for="password1"></label> <input type="password" name="password1" id="password1" class="register-popup-password1" maxlength="100" required autocomplete="off">
    <span id="register-popup-password2-head">Confirm Password</span>
    <label for="password2"></label> <input type="password" name="password2" id="password2" class="register-popup-password2" maxlength="100" required autocomplete="off">

    <button type="submit" id='register-popup-submit'>REGISTER</button>
    </form>
    
    <span id="register-popup-login" onclick="togglePopupRegister()">Go to login</span>
  </div>
</div>

    
{% block content %}
{% endblock %}


<script>
function togglePopupLogin(){
  document.getElementById("home-popup").classList.toggle("active");
}
</script>

<script>
function togglePopupRegister(){
  document.getElementById("register-popup").classList.toggle("active");
}
</script>
<!--
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> --> 
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>


{% block script %}

{% endblock script %}
</body>
</html>