<!doctype html>
<html lang="en">
{% load static %} 
    
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>{% block title %}Home {% endblock %}</title>


    <!-- Bootstrap core CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Google fonts -->
<style type="text/css">
   body { 
        background: url('{% static "realbuy_app/images/bg.png" %}') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }    
</style>
    <!-- Fonts for this template -->
<style>
    @font-face {
    font-family: 'Antipasto';
    src: local('Antipasto'),
                        url('{% static 'realbuy_app/fonts/Antipasto.ttf' %} ');
    }
</style>
    <!-- Custom styles for this template -->
<link href="{% static 'realbuy_app/styles/home.css' %}" rel="stylesheet"> 
</head>
    
<body>
<img src="{% static 'realbuy_app/images/logo.png' %}" id="logo"> 
<span id="welcome">Welcome to realbuy</span>
<span id="welcome-sub">Realbuy is a real estate firm with a vision to create luxurious living spaces that surpass the expectations of customers. Although recently launched the firm is driven with an instinct and far stretching insight that improves the real estate offerings in the city...</span>
<a href="{% url 'category_home1' 'sell' %}">
<button type="button" id="home-filter1" class="home-filter">SALE</button>
</a>
<a href="{% url 'category_home1' 'rent' %}">
<button type="button" id="home-filter2" class="home-filter">RENT</button>
</a>
<a href="{% url 'category_home1' 'ready to move'|slugify %}">
<button type="button" id="home-filter3" class="home-filter">READY TO MOVE</button>
</a>
<a href="{% url 'category_home1' 'under construction'|slugify %}">
<button type="button" id="home-filter4" class="home-filter">UNDER CONSTRUCTION</button>
</a>
    
<form method="get" action="{% url 'category_home2' %}">
      <input type="text" placeholder="Type Location or Project/Society or Keyword" name="home_search" id="home_search">
      <button type="submit" id="home-submit">SEARCH</button>
</form>
<a href="https://www.facebook.com/real.buy.5439/">
<img src="{% static 'realbuy_app/images/fb.png' %}" id="home-fb">
</a>
<a href="https://twitter.com/realbuy2">
<img src="{% static 'realbuy_app/images/twitter.png' %}" id="home-twitter">
</a>
<a href="https://myaccount.google.com/u/2/">
<img src="{% static 'realbuy_app/images/google.png' %}" id="home-google">
</a>
<span id="home-copyright">&copy; 2016. realbuy.com. All rights reserved.</span>

{% if user.is_authenticated %}
    <a href='{% url 'logout' %}'>
    <button type="button" class="home-top-right" id="home-logout" >LOGOUT</button>
    </a>
    <a href='{% url 'profile' %}'>
    <button type="button" class="home-filter" id="home-profile">MY PROFILE</button>
    </a>
{% else %}
    <div class="modal fade" tabindex="-1" role="dialog" id="modal">
      <div class="modal-dialog" role="document">
        <div class="modal-content"></div>
      </div>
    </div>
    
    <button type="button" class="home-top-right" id="home-login">LOGIN</button>
    
{% endif %}
    
<a href='{% url 'home' %}'>
<button type="button" class="home-top-right" id="home-top-right-1">HOME</button>
</a>
<a href='{% url 'about_us' %}'>
<button type="button" class="home-top-right" id="home-top-right-2">ABOUT US</button>
</a>
<a href='{% url 'featured' %}'>
<button type="button" class="home-top-right" id="home-top-right-3">FEATURED PROPERTIES</button>
</a>
<a href='{% url 'recent' %}'>
<button type="button" class="home-top-right" id="home-top-right-4">RECENT PROPERTIES</button>
</a>
<a href='{% url 'add1' %}'>
<button type="button" class="home-top-right" id="home-top-right-5">ADD PROPERTY</button>
</a>
<a href='{% url 'contactus' %}'>
<button type="button" class="home-top-right" id="home-top-right-6">CONTACT US</button>
</a>

    
{% block content %}
{% endblock %}
<script type="text/javascript">
  $(function () {
    // Sign up button
    $("#home-login").modalForm({formURL: "{% url 'login_page' %}"});

  });
</script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> 

{% block javascript %}

{% endblock javascript %}
</body>
</html>