<!doctype html>
<html lang="en">
{% load static %} 
    
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>{% block title %}Home {% endblock %}</title>
{% block links %}
{% endblock %}


    <!-- Bootstrap core CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Google fonts -->
{% block styles %}
{% endblock %}
<style type="text/css">
   body { 
        background: url('{% static "realbuy_app/images/bg.png" %}') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }    
</style>
<!--
<style type="text/css">
        .nav-link { 
            color: yellow; 
        } 
  
        .nav-item>a:hover { 
            color: yellow; 
        } 
  
        /*code to change background color*/ 
        .navbar-nav>.active>a { 
            background-color: #C0C0C0; 
            color: yellow; 
        } 
</style> -->
    <!-- Fonts for this template -->
<style>
    @font-face {
    font-family: 'Antipasto';
    src: local('Antipasto'),
                        url('{% static 'realbuy_app/fonts/Antipasto.ttf' %} ');
    }
</style>
    <!-- Custom styles for this template -->
<link href="{% static 'realbuy_app/styles/home.css' %}" rel="stylesheet"> 
</head>
    
<body>

<img src="{% static 'realbuy_app/images/logo.png' %}" id="logo"> 
<span id="welcome">Welcome to realbuy</span>
<span id="welcome-sub">Realbuy is a real estate firm with a vision to create luxurious living spaces that surpass the expectations of customers. Although recently launched the firm is driven with an instinct and far stretching insight that improves the real estate offerings in the city...</span>
<a href="{% url 'category_home1' 'sell' %}">
<button type="button" id="home-filter1" class="home-filter">SALE</button>
</a>
<a href="{% url 'category_home1' 'rent' %}">
<button type="button" id="home-filter2" class="home-filter">RENT</button>
</a>
<a href="{% url 'category_home1' 'ready to move'|slugify %}">
<button type="button" id="home-filter3" class="home-filter">READY TO MOVE</button>
</a>
<a href="{% url 'category_home1' 'under construction'|slugify %}">
<button type="button" id="home-filter4" class="home-filter">UNDER CONSTRUCTION</button>
</a>  
    
<form method="get" action="{% url 'category_home2' %}" >
      <input type="text" placeholder="Type Location or Project/Society or Keyword" name="home_search" id="home_search" autocomplete="off">
      <button type="submit" id="home-submit">SEARCH</button>
</form>  
<!--
<form method="get" action="{% url 'category_home2' %}">
      <button type="button" id="home-filter1" value="sell" class="home-filter">SALE</button>
      <button type="button" id="home-filter2" value="rent" class="home-filter">RENT</button>
      <button type="button" id="home-filter3" value="ready to move" class="home-filter">READY TO MOVE</button>
      <button type="button" id="home-filter4" value="under construction" class="home-filter">UNDER CONSTRUCTION</button>
      <input type="text" placeholder="Type Location or Project/Society or Keyword" name="home_search" id="home_search" autocomplete="off">
      <button type="submit" id="home-submit">SEARCH</button>
</form>
-->
<a href="https://www.facebook.com/real.buy.5439/">
<img src="{% static 'realbuy_app/images/fb.png' %}" id="home-fb">
</a>
<a href="https://twitter.com/realbuy2">
<img src="{% static 'realbuy_app/images/twitter.png' %}" id="home-twitter">
</a>
<a href="https://myaccount.google.com/u/2/">
<img src="{% static 'realbuy_app/images/google.png' %}" id="home-google">
</a>
<span id="home-copyright">&copy; 2016. realbuy.com. All rights reserved.</span>

{% if user.is_authenticated %}
    <a href='{% url 'logout' %}'>
    <button type="button" class="home-top-right" id="home-logout" >LOGOUT</button>
    </a>
    <a href='{% url 'profile' user.profile.id %}'>
    <button type="button" class="home-filter" id="home-profile">MY PROFILE</button>
    </a>
{% else %}
    
    <button type="button" class="home-top-right" id="home-login" onclick="togglePopupLogin()">LOGIN</button>
    
{% endif %}
<ul class="navbar-nav">
  <li class="nav-item">    
    <a class="nav-link" role="button" id="home-top-right-1" href='{% url 'home' %}'>
    <!--<button type="button" class="home-top-right" id="home-top-right-1">HOME</button>-->
    HOME
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="home-top-right-2" href='{% url 'about_us' %}'>
    <!--<button type="button" class="home-top-right" id="home-top-right-2">ABOUT US</button>-->
    ABOUT US
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="home-top-right-3" href='{% url 'featured' %}'>
    <!--<button type="button" class="home-top-right" id="home-top-right-3">FEATURED PROPERTIES</button> -->
    FEATURED PROPERTIES
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="home-top-right-4" href='{% url 'recent' %}'>
    <!--<button type="button" class="home-top-right" id="home-top-right-4">RECENT PROPERTIES</button> -->
    RECENT PROPERTIES
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="home-top-right-5" href='{% url 'add1' %}'>
    <!--<button type="button" class="home-top-right" id="home-top-right-5">ADD PROPERTY</button>  -->
    ADD PROPERTY
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="home-top-right-6" href='{% url 'contactus' %}'>
    <!--<button type="button" class="home-top-right" id="home-top-right-6">CONTACT US</button>   -->
    CONTACT US
    </a>
  </li>
</ul>

   <!-- login popup -->
<div class="popup" id="home-popup">
  <div class="overlay"></div>
  <div class="content">
    <img id="home-popup-close" src="{% static 'realbuy_app/images/popup_close.png' %}" onclick="togglePopupLogin()">
    <span id="home-popup-head">LOGIN</span>
    <div id="home-popup-box-1"></div>
    <div id="home-popup-box-2"></div>
    <form method="POST" action="{% url 'login_page' %}">
    {% csrf_token %}
    <span id="login-popup-username-head">Name/Email</span>
    <label for="id_username"></label> <input type="text" name="username" class="login-popup-username" required id="id_username" autocomplete="off">
    <span id="login-popup-password-head">Password</span>
    <label for="id_password"></label> <input type="password" name="password" class="login-popup-password" required id="id_password" autocomplete="off">

    <button type="submit" id='login-popup-submit'>LOGIN</button>
    </form>
    <a href="{% url 'password_reset' %}" id="login-popup-forgot"> Forgot Password? </a>
    <span id="login-popup-or">Or</span>
    <a href="{% url 'social:begin' 'facebook' %}">
    <img src="{% static 'realbuy_app/images/fb.png' %}" id="login-popup-fb">
    </a>
    <a href="{% url 'social:begin' 'twitter' %}">
    <img src="{% static 'realbuy_app/images/twitter.png' %}" id="login-popup-twitter">
    </a>
    <a href="{% url 'social:begin' 'google-oauth2' %}">
    <img src="{% static 'realbuy_app/images/google.png' %}" id="login-popup-google">
    </a>
    <span id="login-popup-register-1">Don't have an account?</span>
    <span id="login-popup-register-2" onclick="togglePopupRegister()">Create Account</span>
  </div>
</div>

  <!-- register popup -->

<div class="popup" id="register-popup">
  <div class="overlay"></div>
  <div class="content">
    <img id="register-popup-close" src="{% static 'realbuy_app/images/popup_close.png' %}" onclick="togglePopupRegister()">
    <span id="register-popup-head">REGISTER</span>
    <div id="register-popup-box-1"></div>
    <div id="register-popup-box-2"></div>
    <form method="POST" action="{% url 'register' %}">
    {% csrf_token %}
  
    <span id="register-popup-username-head">Username</span>
    <label for="username"></label> <input type="text" name="username" id="username" class="register-popup-username" maxlength="100" autofocus required autocomplete="off">
    <span id="register-popup-email-head">Email</span>
    <label for="email-register"></label> <input type="email" name="email" id="email-register" class="register-popup-email" required autocomplete="off">
    <span id="register-popup-password1-head">Password</span>
    <label for="password1"></label> <input type="password" name="password1" id="password1" class="register-popup-password1" maxlength="100" required autocomplete="off">
    <span id="register-popup-password2-head">Confirm Password</span>
    <label for="password2"></label> <input type="password" name="password2" id="password2" class="register-popup-password2" maxlength="100" required autocomplete="off">

    <button type="submit" id='register-popup-submit'>REGISTER</button>
    </form>
    
    <span id="register-popup-login" onclick="togglePopupRegister()">Go to login</span>
  </div>
</div>

    
{% block content %}
{% endblock %}
<script> 

        $(document).ready(function () { 
  
            $('ul.navbar-nav > li') 
                    .click(function (e) { 
                $('ul.navbar-nav > li') 
                    .removeClass('active'); 
                $(this).addClass('active'); 
            }); 
        }); 
</script> 

<script>
function togglePopupLogin(){
  document.getElementById("home-popup").classList.toggle("active");
}
</script>

<script>
function togglePopupRegister(){
  document.getElementById("register-popup").classList.toggle("active");
}
</script>
<!--
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> 

    <!-- navbar scripts -->
<link rel="stylesheet" href= 
"https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.css"/> 
    <script src= 
"https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"> 
    </script> 
    <script src= 
"https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"> 
    </script> 
    <script src= 
"https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"> 
    </script> 

{% block javascript %}

{% endblock javascript %}
</body>
</html>