{% extends 'realbuy_app/base.html' %}
{% load static %}
{% block title %}
Contact Us{% endblock %}{% block content %}

<script src="{% static 'realbuy_app/scripts/contactus.js' %}"></script> 


<div id="contactus-big-box"></div>
<div id="contactus-big-box-2"></div>
<span id="contactus-head-1">Contact</span> <span id="contactus-head-2">Us</span>
<img src="{% static 'realbuy_app/images/location_carousel.png' %}" id="contactus-location-icon">
<span id="contactus-location">Our Location</span>

<div id="contactus-map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d105730.58891652685!2d76.35495828437325!3d9.997311585902336!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b080c8201a7dadf%3A0x3d1dac7f91e2f2e0!2sCarnival%20Phase%20IV%20Exit%20Rd%2C%20Infopark%20Campus%2C%20Kakkanad%2C%20Kerala%20682030!5e0!3m2!1sen!2sin!4v1608699991189!5m2!1sen!2sin" width="650" height="200" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        
    </iframe>
</div>
<!--
<img src="{% static 'realbuy_app/images/contactus/location.png' %}" id="contactus-map-icon"> -->
<img src="{% static 'realbuy_app/images/contactus/address.png' %}" id="contactus-address-icon">
<span id="contactus-address">Address</span>
<span id="contactus-address-1">9A, 9th floor,</span>
<span id="contactus-address-2">Carnival Infopark, Kakkanad,</span>
<span id="contactus-address-3">Kochi - 682 030</span>
<span id="contactus-phone">Phone : 0484-2415010</span>
<span id="contactus-mail">Email : support@realbuy.com</span>
<span id="contactus-opening">Opening Hours:</span>
<span id="contactus-opening-1">Monday - Friday : 9 am To 6 pm</span>
<span id="contactus-opening-2">Saturday - Sunday : 9 am To 2 pm</span>
<img src="{% static 'realbuy_app/images/contactus/mail.png' %}" id="contactus-mail-icon">
<span id="contactus-agent">Contact our agent</span>





<form id='contactForm' method='POST'>
    {% csrf_token %}
    <div class="contactus_error" id="contactus_error"></div>
    <input type="text" name="name" id="contactus_name" placeholder="Name" autocomplete="off" maxlength="100" minlength="4" required onblur="nameValidate();">
    <input type="email" name="email" id="contactus_mail" placeholder="Email" autocomplete="off" maxlength="45" required
    onblur="mailValidate();" >
    <input type="text" name="phone" id="contactus_phone" placeholder="Phone Number" autocomplete="off" maxlength="10" minlength="10" onblur="phoneValidate();">
    <textarea name="message" cols="40" rows="10" id="contactus_message" placeholder="Message" minlength="20" required onblur="messageValidate();">
    </textarea> 
    <button id="contactus_submit" type="submit">SUBMIT</button>
</form>

        
<script>
    
    const form = document.getElementById('contactForm');
    form.addEventListener("submit", submitHandler);

    function submitHandler(e) {
        e.preventDefault();
        var nameok=nameValidate();
        var mailok=mailValidate();
        var phoneok=phoneValidate();
        var messageok=messageValidate();
      if(nameok==true && mailok==true && phoneok==true && messageok==true){   
        $.ajax({
            type        : 'POST', // define the type of HTTP verb we want to use (POST for our form)
            url         : '{% url 'contactus' %}', // the url where we want to POST
            data        : $('#contactForm').serialize(), // our form data
            dataType    : 'json', // what type of data do we expect back from the server
            success     : successFunction
        });
      }
    }

    function successFunction(data) {
        if (data.message === 'success') {
            alert('Success!');
            form.reset()
        }
    }

    
</script> 

{% endblock %}

{% block script %}
<script
        src="https://code.jquery.com/jquery-3.5.0.min.js"
        integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ="
        crossorigin="anonymous">
</script>
{% endblock %}    



                       



