<!doctype html>
<html lang="en">
{% load static %}
    
<head><title>Details</title></head>
<body>

<a href="{% url 'home' %}">CLOSE</a>
    

    
    <li> {{ property.location}}</li>
    <li> {{ property.price}}</li>
    <li> {{ property.built_up_area}}</li>
    <li> {{ property.bedroom}}</li>
    <li> {{ property.bathroom}}</li>
    <li> {{ property.description}}</li>
    
    
<form action="{% url 'like_post' property.pk %}" method="POST">
{% csrf_token %}
{% if user.is_authenticated %}
    {% if liked %}
    <button type="submit", name="post_id", value="{{ property.id }}">Like</button>
    {% else %}
    <button type="submit", name="post_id", value="{{ property.id }}">Unlike</button>
    {% endif %}
{% endif %}
</form>

    
 

</body>
</html>