{% extends 'realbuy_app/base.html' %}
{% load static %}
{% load humanize %}
{% load social_share %}


{% block title %}
Details{% endblock %}{% block content %}
<div id="detail-big-box"></div>
<div id="detail-big-box-2"></div>
<a href="{% url 'home' %}">
    <img id="detail-close" src="{% static 'realbuy_app/images/close.png' %}">
</a>
    
<div>
    <img id="detail-image" src="{{property.image.url}}">
</div>
<div id="detail-box-1">
    <img id="detail-box-1-image" src="{% static 'realbuy_app/images/location_carousel.png' %}">
    <div id="detail-location">{{ property.location|title }}</div>
    <div class="detail-price">
        <span id="detail-price-1">{{ property.price|intcomma }}</span>
        {% if property.sell_or_rent == 'rent' %}
        <span class="detail-price-2">/Month</span>
        {% else %}
        <span class="detail-price-2"></span>
        {% endif %}
    </div>
</div>
<div id="detail-box-2">
    <img id="detail-box-2-image" src="{% static 'realbuy_app/images/area.png' %}">
    <div id="detail-area-head">Area</div>
    <div class="detail-area-content">
        <span id="detail-area-content-1">{{ property.built_up_area|floatformat|intcomma}}</span>
        <span id="detail-area-content-2">{{property.built_up_unit}}</span>
    </div>
</div>
<div id="detail-box-3">
    <img id="detail-box-3-image" src="{% static 'realbuy_app/images/bedroom.png' %}">
    <div id="detail-bedroom-head">Bedrooms</div>
    <div id="detail-bedroom-content">{{ property.bedroom}}</div>
</div>
<div id="detail-box-4">
    <img id="detail-box-4-image" src="{% static 'realbuy_app/images/bathroom.png' %}">
    <div id="detail-bathroom-head">Bathrooms</div>
    <div id="detail-bathroom-content">{{ property.bathroom}}</div>    
</div>
<div id="detail-description">
        {{ property.description|capfirst}}
</div>
<div id="detail-seller-head">Seller Info</div>
<div id="detail-seller-username"> {{ property.ownership.profile.user|capfirst}}</div>
<div id="detail-seller-address"> {{ property.ownership.profile.address|capfirst}}</div>

<div id="detail-task-bar">Detail</div>

<div>
    <a href="
    {% if user.is_authenticated %}mailto:{{property.ownership.profile.email}}"{% else %}
    #" onclick="togglePopupPhone()"{% endif %}>
    <img id="detail-mail-image" src="{% static 'realbuy_app/images/mail_white.png' %}">
    </a>
    
    <span id="detail-mail">SEND MAIL</span>
</div>
<div>
    <a href="#">
    <img id="detail-phone-image" src="{% static 'realbuy_app/images/call_white.png' %}" onclick="togglePopupPhone()">
    </a>
    <span id="detail-phone">PHONE NUMBER</span>
</div>
    {% if user.is_authenticated %}

    <form action="{% url 'like_detail' property.pk %}" method="POST">
    {% csrf_token %} 
    {% if liked %} 
    <button type="submit" id="detail-shortlist-button" name="post_id" value="{{ property.id }}"><img id="detail-shortlist-image" src="{% static 'realbuy_app/images/fav_select.png' %}"></button>
    {% else %}
    <button type="submit" id="detail-shortlist-button" name="post_id" value="{{ property.id }}"><img id="detail-shortlist-image" src="{% static 'realbuy_app/images/fav_white.png' %}"></button>
    {% endif %}
    </form>

    {% else %}
    <button id="detail-shortlist-button"><img id="detail-shortlist-image" src="{% static 'realbuy_app/images/fav_white.png' %}" onclick="togglePopupPhone()"></button>
    {% endif %}

    <span id="detail-shortlist">SHORTLIST</span>

<div>
    <a href="#">
        <img id="detail-map-image" src="{% static 'realbuy_app/images/map_white.png' %}">
    </a>
    <span id="detail-map">MAP</span>
</div>
<div>
    <a href="#">
        <img id="detail-share-image" src="{% static 'realbuy_app/images/sharing_white.png' %}" onclick="togglePopupShare()">
    </a>
    <span id="detail-share">SHARE</span>
</div>





<!-- phone number popup -->

<div class="popup" id="detail-phone-popup">
  <div class="overlay"></div>
  <div class="content">
    <div id="detail-popup-box2"></div>
    <img id="detail-popup-close" src="{% static 'realbuy_app/images/popup_close.png' %}" onclick="togglePopupPhone()">
    {% if user.is_authenticated %}
    {% if property.ownership.profile.phone %}
    <span id="detail-popup-phone">+91 {{property.ownership.profile.phone}}
    </span>
    {% else %}
    <span id="detail-popup-phone">Not added
    </span>
    {% endif %}
    {% else %}
    <span id="detail-popup-phone">Login Please
    </span>
    {% endif %}

  </div>
</div>


   <!-- share popup -->
<div class="popup" id="detail-share-popup">
  <div class="overlay"></div>
  <div class="content">
    <img id="share-popup-close" src="{% static 'realbuy_app/images/popup_close.png' %}" onclick="togglePopupShare()">
    <div id="links-hide"  style="display:none;">
    {% post_to_facebook object_or_url "Post to Facebook!" %}
    {% post_to_twitter "New Property: {{property.address}}. Check it out!" object_or_url "Post to Twitter" %}
    {% send_email object.title "New Property: {{property.address}}. Check it out!" object_or_url "Post to google" %}
    </div>
    <div class="facebook-this">
    <a href="{{ facebook_url }}" class="" target="_blank"><img src="{% static 'realbuy_app/images/fb.png' %}" id="share-popup-fb"></a>
    </div>


    <div class="tweet-this">
    <a href="{{ tweet_url }}" class="meta-act-link meta-tweet " target="_blank"><img src="{% static 'realbuy_app/images/twitter.png' %}" id="share-popup-twitter"></a>
    </div>

    <div class="mail-this">
    <a href="{{ mailto_url }}" class=""><img src="{% static 'realbuy_app/images/google.png' %}" id="share-popup-google"></a>
    </div>
    

    
  </div>
</div>

<script>

function togglePopupShare(){
  document.getElementById("detail-share-popup").classList.toggle("active");
}
</script>

<script>

function togglePopupPhone(){
  document.getElementById("detail-phone-popup").classList.toggle("active");
}
</script>

{% endblock %}
