{% extends 'realbuy_app/base.html' %}
{% load static %}
{% block title %}
Edit Profile{% endblock %}
{% block content %}
<script src="{% static 'realbuy_app/scripts/edit_profile.js' %}"></script>
{% if user.is_authenticated %}
<div id="profile-big-box"></div>
<div id="profile-big-box-2"></div> 
<div id="profile-user-section"></div>

<form autocomplete="off" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
<img id="profile-edit-pic" src="{{ profile.image.url }}">
{{ form.image }}
<img id="profile-username-icon" src="{% static 'realbuy_app/images/profile/profileaccount_icon.png' %}">
<input type="text" name="name" value="{{profile.name}}" id="profile-edit-name" required onblur="nameValidate();">
<img id="profile-mail-icon" src="{% static 'realbuy_app/images/profile/mail_icon.png' %}">
<input type="email" name="email" value="{{profile.email}}" id="profile-edit-email" required onblur="mailValidate();">
<img id="profile-phone-icon" src="{% static 'realbuy_app/images/profile/phone_icon.png' %}">
<input type="text" name="phone" value="{{profile.phone}}" id="profile-edit-phone" onblur="phoneValidate();">
<img id="profile-address-icon" src="{% static 'realbuy_app/images/profile/location_icon.png' %}">
<textarea name="address" cols="40" rows="10" id="profile-edit-address" required onblur="addressValidate();">
{{profile.address}}</textarea>
<div class="edit_profile_error" id="edit_profile_error"></div>
<button type="submit" id="profile-edit-submit">UPDATE PROFILE</button>
</form>
<span id="profile-head-1">My</span> <span id="profile-head-2">Properties</span>

<div class="profile-grid">
	{% for property in properties %}
	{% if user.id == property.ownership.id %}
    <div class="profile-grid-content">
    	    <a href="#">
          <img class ="profile-property-image" src="{{property.image.url}}">
          </a>
          
          {% if property.sell_or_rent == 'sell' %}
          <div class="profile-property-sell"> ON SALE </div>
          {% else %}
          <div class="profile-property-rent"> ON RENT </div>
          {% endif %}
          <div class="profile-property-price">
          <span class="profile-property-price-1">&#8377; </span>
          <span class="profile-property-price-2">{{ property.price}}</span><span class="profile-property-price-3">/Month</span>
          </div>
          <span class="profile-property-type-and-loc">TYPE & LOCATION:</span>
          <div class="profile-property-location"> {{ property.location}}</div>
          <span class="profile-property-plot-area">PLOT AREA:</span>
          <div class="profile-property-area">
          <span class="profile-property-area-1">{{ property.built_up_area}}</span>
          <span class="profile-property-area-2">Cents{{ property.built_up_unit }}</span>
          </div>
          <span class="profile-property-society">SOCIETY:</span>
          <div class="profile-property-city"> {{ property.city }}</div>
          <span class="profile-property-description-head">DESCRIPTION:</span>
          <div class="profile-property-description"> {{ property.description }} </div>
          <span class="profile-property-posted">POSTED:</span>
          <div class="profile-property-date"> {{ property.date }}</div>
          <a href="#">
    			<button type="button" class="profile-property-edit-button"></button>
    			<img class="profile-property-edit-image" src="{% static 'realbuy_app/images/profile/edit.png' %}">
    		  </a>
          
          <a href="#">  
    			<button type="button" class="profile-property-delete-button"></button>
    			<img class="profile-property-delete-image" src="{% static 'realbuy_app/images/profile/delete-button.png' %}">
          </a>
    	  
    </div>
    {% endif %}
	{% endfor %}
	  
</div>
{% endif %}
{% endblock %}



