<!doctype html>
<html lang="en">
{% load static %}
{% load humanize %}       <!-- 150.0 to 150 and 1450 to 1,450 -->
{% load socialaccount %}   <!-- social login -->
{% providers_media_js %}    <!-- social login -->
{% load property_tags %}    <!-- template tag for dictionary value access by giving key -->
{% load social_share %}    <!-- social share -->
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Search results</title>
    <!-- Bootstrap core CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <!-- Google fonts -->    
<style>
    @font-face {
    font-family: 'Antipasto';
    src: local('Antipasto'),
                        url('{% static 'realbuy_app/fonts/Antipasto.ttf' %} ');
    }
</style>
<style type="text/css">
    
    body { 
        background: url('{% static "realbuy_app/images/bg.png" %}') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
         
</style>
<style type="text/css">
.carousel-control-next-icon {
    position: fixed;
    top: 170px;
    left: 1320px;
    height: 10px;
    background-image: url('{% static "realbuy_app/images/featured/next_arrow.png" %}');

}
.carousel-control-prev-icon{
    position: fixed;
    top: 170px;
    left: 1280px;
    height: 10px;
    background-image: url('{% static "realbuy_app/images/featured/prev_arrow.png" %}');
}
.carousel-control-prev {
  width: 0px;
  height: 0px;
}
.carousel-control-next {
  width: 0px;
  height: 0px;
}
.carousel .carousel-indicators{
  bottom: -40px !important;
}
</style>
    <!-- Custom styles for this template -->
<link href="{% static 'realbuy_app/styles/home.css' %}" rel="stylesheet"> 
<link href="{% static 'realbuy_app/styles/filter.css' %}" rel="stylesheet">
<link href="{% static 'realbuy_app/styles/recent.css' %}" rel="stylesheet">
</head>
    
<body>
{% include "realbuy_app/popup.html" %}

<img id="filter-logo" src="{% static 'realbuy_app/images/logo_small.png' %}" >    
<span id="filter-head-1">Search</span><span id="filter-head-2"> Results</span>
    
{% if user.is_authenticated %}
    <a href='{% url 'logout' %}'>
    <button type="button" class="home-top-right" id="home-logout" >LOGOUT</button>
    </a>
    <ul class="profile-nav">
    <li class="profile-item {% if current == 'profile' %} active {% endif %}"> 
    <a id="home-profile" class="profile-link" href='{% url 'profile' user.profile.id %}'>
    MY PROFILE
    </a>
    </li>
  </ul>
{% else %}
    <button type="button" class="home-top-right" id="home-login" onclick="togglePopupLogin()">LOGIN</button>
   
{% endif %}
    
<a href='{% url 'home' %}'>
<button type="button" class="home-top-right" id="home-top-right-1">HOME</button>
</a>
<a href='{% url 'about_us' %}'>
<button type="button" class="home-top-right" id="home-top-right-2">ABOUT US</button>
</a>
<a href='{% url 'featured' %}'>
<button type="button" class="home-top-right" id="home-top-right-3">FEATURED PROPERTIES</button>
</a>
<a href='{% url 'recent' %}'>
<button type="button" class="home-top-right" id="home-top-right-4">RECENT PROPERTIES</button>
</a>
<a href='{% url 'add1' %}'>
<button type="button" class="home-top-right" id="home-top-right-5">ADD PROPERTY</button>
</a>
<a href='{% url 'contactus' %}'>
<button type="button" class="home-top-right" id="home-top-right-6">CONTACT US</button>
</a>
<div id="filter-big-box-1"></div>
<div id="filter-big-box-2"></div>    
<form method="get" action="{% url 'category_filter2' %}">
      <input class="filter-location-1" type="text" list="location2" name="location1" id="location1" placeholder="LOCATION (ANY)" autocomplete="off"/>
      <datalist id="location2" name="location2" style="color: rgba(140, 140, 140, 1);background-color: rgba(22, 22, 22, 1);">
            <option style="color: rgba(140, 140, 140, 1);background-color: rgba(22, 22, 22, 1);">Trivandrum</option>
            <option style="color: rgba(140, 140, 140, 1);background-color: rgba(22, 22, 22, 1);">Thrissur</option>
            <option style="color: rgba(140, 140, 140, 1);background-color: rgba(22, 22, 22, 1);">Ernamkulam</option>
      </datalist>
      <select class="filter-property-status" id="property_status" name="property_status">
      <option hidden disabled selected value>PROPERTY STATUS</option>
      <option value="ready to move" style="color: rgba(140, 140, 140, 1);background-color: rgba(22, 22, 22, 1);">Ready to move</option>
      <option value="under construction" style="color: rgba(140, 140, 140, 1);background-color: rgba(22, 22, 22, 1);">Under Construction</option>
      <option value="sell" style="color: rgba(140, 140, 140, 1);background-color: rgba(22, 22, 22, 1);">Sell</option>
      <option value="rent" style="color: rgba(140, 140, 140, 1);background-color: rgba(22, 22, 22, 1);">Rent</option>
      <option value="resale" style="color: rgba(140, 140, 140, 1);background-color: rgba(22, 22, 22, 1);">Resale</option>
      <option value="new" style="color: rgba(140, 140, 140, 1);background-color: rgba(22, 22, 22, 1);">New Booking</option>
      </select>
      <select class="filter-areamin" id="areamin" name="areamin">
      <option hidden disabled selected>AREA MIN SQUAREFEET</option>
      <option value="1000" style="color: rgba(140, 140, 140, 1);background-color: rgba(22, 22, 22, 1);">1000</option>
      <option value="5000" style="color: rgba(140, 140, 140, 1);background-color: rgba(22, 22, 22, 1);">5000</option>
      <option value="10000" style="color: rgba(140, 140, 140, 1);background-color: rgba(22, 22, 22, 1);"> 10000</option>
      <option value="25000" style="color: rgba(140, 140, 140, 1);background-color: rgba(22, 22, 22, 1);">25000</option>
      <option value="50000" style="color: rgba(140, 140, 140, 1);background-color: rgba(22, 22, 22, 1);">50000</option>
      </select>
      <select class="filter-areamax" id="areamax" name="areamax" >
      <option hidden disabled selected>AREA MAX SQUAREFEET</option>
      <option value="5000" style="color: rgba(140, 140, 140, 1);background-color: rgba(22, 22, 22, 1);"> 5000</option>
      <option value="10000" style="color: rgba(140, 140, 140, 1);background-color: rgba(22, 22, 22, 1);"> 10000</option>
      <option value="25000" style="color: rgba(140, 140, 140, 1);background-color: rgba(22, 22, 22, 1);">25000</option>
      <option value="50000" style="color: rgba(140, 140, 140, 1);background-color: rgba(22, 22, 22, 1);">50000</option>
      <option value="100000" style="color: rgba(140, 140, 140, 1);background-color: rgba(22, 22, 22, 1);">100000</option>
      </select>
    
      <button type="submit" id="filter_submit">SEARCH</button>
</form>
    
<a href="{% url 'category_filter1' 'commercial' %}"><button type="button" class="recentTopRight" id="recentTopRight1">COMMERCIAL</button></a>
<a href="{% url 'category_filter1' 'furnished home'|slugify %}"><button type="button" class="recentTopRight" id="recentTopRight2">FURNISHED HOMES</button></a>
<a href="{% url 'category_filter1' 'land and plot'|slugify %}"><button type="button" class="recentTopRight" id="recentTopRight3">LAND&amp;PLOT</button></a>
<a href="{% url 'category_filter1' 'rental' %}"><button type="button" class="recentTopRight" id="recentTopRight4">RENTAL</button></a>
{% if composite_list %}
<div class="filter-container">
    <div id="filterCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
      <ol class="carousel-indicators">
        {% for prop in composite_list %}
        <li data-target="#filterCarousel" data-slide-to="{{forloop.counter0}}" class="{% if forloop.counter0 == 0 %} active {% endif %}"></li>
        {% endfor %}
      </ol>  
      <div class="carousel-inner">
         
        
        {% for prop in composite_list %}
        <div class="carousel-item {% if forloop.counter0 == 0 %} active {% endif %}">
               
                <div class="filter-grid">

                    {% for property in prop %}
                    <div class="filter-grid-content">
                        <a href="{% url 'detail' property.id %}">
                        <img class ="filter-image" src="{{property.image.url}}">
                        </a>
                        
                        {% if property.sell_or_rent == 'sell' %}
                        <div class="filter-sell"> ON SALE </div>
                        {% else %}
                        <div class="filter-rent"> ON RENT </div>
                        {% endif %}
                        <div class="filter-price">
                        <span class="filter-price-1">&#8377; </span>
                        {% if property.sell_or_rent == 'rent' %}
                            <span class="filter-price-2">{{ property.price|intcomma}}/Month</span>
                            {% else %}
                            <span class="filter-price-2">{{property.price|intcomma}}</span>
                        {% endif %}
                        </div>
                        <span class="filter-type-and-loc">TYPE & LOCATION:</span>
                        <div class="filter-location">{{property.property_type}}/{{ property.location |lower|capfirst}}</div>
                        <span class="filter-plot-area">PLOT AREA:</span>
                        <div class="filter-area">
                        <span class="filter-area-1">{{ property.built_up_area|floatformat|intcomma}}</span>
                        <span class="filter-area-2">{{ property.built_up_unit | lower|capfirst}}</span>
                        </div>
                        <span class="filter-society">SOCIETY:</span>
                        {% for addr in property.address_list %}
                        {% if forloop.counter == 1 %}
                        <div class="filter-city"> {{ addr | title }}</div>
                        {% endif %}
                        {% endfor %}
                        
                        <span class="filter-description-head">DESCRIPTION:</span>
                        <div class="filter-description"> {{ property.description |capfirst}} </div>
                        <span class="filter-posted">POSTED:</span>
                        <div class="filter-date"> {{ property.date }}</div>
                        <div class="filter-task-bar"></div>

                        <div>
                            <a href="
                              {% if user.is_authenticated %}mailto:{{property.ownership.profile.email}}"
                              {% else %}
                              #" onclick="{% if forloop.counter == 1 %}togglePopupPhone1() {% endif %}{% if forloop.counter == 2 %}togglePopupPhone2() {% endif %}{% if forloop.counter == 3 %}togglePopupPhone3() {% endif %}{% if forloop.counter == 4 %}togglePopupPhone4() {% endif %}"
                              {% endif %}>
                            
                                    <img class="filter-mail-image" src="{% static 'realbuy_app/images/mail_white.png' %}">
                            </a>
                            <span class="filter-mail">SEND MAIL</span>
                        </div>
                        <div>
                            
                            <a class="phone-id-carrier" href="#" data-popupnum="{{ forloop.counter }}" data-phone="{{ property.ownership.profile.phone }}">
                                <img class="filter-phone-image" src="{% static 'realbuy_app/images/call_white.png' %}">
                            </a>
                            <span class="filter-phone">PHONE NUMBER</span>
                        </div>
                        <div>
                            {% if user.is_authenticated %}
                            <form action="{% url 'like_filter' property.pk %}" method="POST">
                            {% csrf_token %}
                                {% if like_dict|get_value_from_dict:property.id %}
                                <button class="filter-shortlist-button" type="submit" name="post_id" value="{{ property.id }}"><img class="filter-shortlist-image" src="{% static 'realbuy_app/images/fav_select.png' %}"></button>
                                {% else %}
                                <button class="filter-shortlist-button" type="submit" name="post_id" value="{{ property.id }}"><img class="filter-shortlist-image" src="{% static 'realbuy_app/images/fav_white.png' %}"></button>
                                {% endif %}
                            </form>
                            {% else %}
                            <button class="filter-shortlist-button"><img class="filter-shortlist-image" src="{% static 'realbuy_app/images/fav_white.png' %}" onclick="{% if forloop.counter == 1 %}togglePopupPhone1() {% endif %}{% if forloop.counter == 2 %}togglePopupPhone2() {% endif %}{% if forloop.counter == 3 %}togglePopupPhone3() {% endif %}{% if forloop.counter == 4 %}togglePopupPhone4() {% endif %}"></button>
                            {% endif %}
                            <span class="filter-shortlist">SHORTLIST</span>
                        </div>
                        <div>
                            <a href="#">
                                <img class="filter-map-image" src="{% static 'realbuy_app/images/map_white.png' %}">
                            </a>
                            <span class="filter-map">MAP</span>
                        </div>
                        <div>
                            <a class="share-id-carrier" href="#" data-popupcount="{{ forloop.counter }}"
                            data-share = "{{ property.address }}" data-parentloopcount="{{ forloop.parentloop.counter0 }}">
                                <img class="filter-share-image" src="{% static 'realbuy_app/images/sharing_white.png' %}">
                            </a>
                            <span class="filter-share">SHARE</span>
                        </div>
                        <div class="{% if forloop.counter == 1 %}filter-popup-share1{% endif %}{% if forloop.counter == 2 %}filter-popup-share2{% endif %}{% if forloop.counter == 3 %}filter-popup-share3{% endif %}{% if forloop.counter == 4 %}filter-popup-share4{% endif %}">
                          <div class="overlay"></div>
                          <div class="content">
                            <img class="share-popup-close" src="{% static 'realbuy_app/images/popup_close.png' %}" data-closecount="{{ forloop.counter }}"
                             data-closeparentcount="{{ forloop.parentloop.counter0 }}">
                            <div class="links-hide" style="display:none;">
                            {% post_to_facebook object_or_url "Post to Facebook!" %}
                            {% post_to_twitter "New Property: {{property.address}}. Check it out!" object_or_url "Post to Twitter" %}
                            {% send_email object.title "New Property: {{property.address}}. Check it out!" object_or_url "Post to google" %}
                            </div>

                            <div class="facebook-this">
                            <a href="{{ facebook_url }}" class="" target="_blank"><img src="{% static 'realbuy_app/images/fb.png' %}" class="share-popup-fb"></a>
                            </div>


                            <div class="tweet-this">
                            <a href="{{ tweet_url }}" class="meta-act-link meta-tweet " target="_blank"><img src="{% static 'realbuy_app/images/twitter.png' %}" class="share-popup-twitter"></a>
                            </div>

                            <div class="mail-this">
                            <a href="{{ mailto_url }}" class=""><img src="{% static 'realbuy_app/images/google.png' %}" class="share-popup-google"></a>
                            </div>

                            
                          </div>
                        </div>

      
                    </div>     
                    {% endfor %}

                </div>  
                     
        </div>
        {% endfor %}



      </div>
      <a class="carousel-control-prev" href="#filterCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#filterCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div> 

</div>

{% else %}
<h1 style="color:red; text-align:center; position: absolute;
top: 250px;">No results found!!! 
</h1>
{% endif %}
    
<a href="https://www.facebook.com/real.buy.5439/">
<img src="{% static 'realbuy_app/images/fb.png' %}" id="filter-fb">
</a>
<a href="https://twitter.com/realbuy2">
<img src="{% static 'realbuy_app/images/twitter.png' %}" id="filter-twitter">
</a>
<a href="https://myaccount.google.com/u/2/">
<img src="{% static 'realbuy_app/images/google.png' %}" id="filter-google">
</a>
<span id="filter-copyright">&copy; 2016. realbuy.com. All rights reserved.</span>

<!-- phone number popup -->


<div class="popup" id="filter-popup-phone1">
  <div class="overlay"></div>
  <div class="content">
    <div id="filter-popup-box2"></div>
    <img class="filter-popup-close" src="{% static 'realbuy_app/images/popup_close.png' %}" onclick="togglePopupPhone1()">
    {% if user.is_authenticated %}
    <span id="filter-popup-phone" class="popup-phone-class">
    </span>
    {% else %}
    <span id="filter-popup-phone">Login Please
    </span>
    {% endif %}

  </div>
</div>


<div class="popup" id="filter-popup-phone2">
  <div class="overlay"></div>
  <div class="content">
    <div id="filter-popup-box2"></div>
    <img class="filter-popup-close" src="{% static 'realbuy_app/images/popup_close.png' %}" onclick="togglePopupPhone2()">
    {% if user.is_authenticated %}
    <span id="filter-popup-phone" class="popup-phone-class">
    </span>
    {% else %}
    <span id="filter-popup-phone">Login Please
    </span>
    {% endif %}

  </div>
</div>

<div class="popup" id="filter-popup-phone3">
  <div class="overlay"></div>
  <div class="content">
    <div id="filter-popup-box2"></div>
    <img class="filter-popup-close" src="{% static 'realbuy_app/images/popup_close.png' %}" onclick="togglePopupPhone3()">
    {% if user.is_authenticated %}
    <span id="filter-popup-phone" class="popup-phone-class">
    </span>
    {% else %}
    <span id="filter-popup-phone">Login Please
    </span>
    {% endif %}

  </div>
</div>

<div class="popup" id="filter-popup-phone4">
  <div class="overlay"></div>
  <div class="content">
    <div id="filter-popup-box2"></div>
    <img class="filter-popup-close" src="{% static 'realbuy_app/images/popup_close.png' %}" onclick="togglePopupPhone4()">
    {% if user.is_authenticated %}
    <span id="filter-popup-phone" class="popup-phone-class">
    </span>
    {% else %}
    <span id="filter-popup-phone">Login Please
    </span>
    {% endif %}

  </div>
</div>





<script>
          /*phone number popup*/
let lis = document.querySelectorAll(".phone-id-carrier");
let lis_array = Array.from(lis);

lis.forEach(function(elem) {
  elem.addEventListener("click", function(e) {
    /*alert(elem.dataset.popupnum);*/
    if (elem.dataset.popupnum == 1){
        
        if (elem.dataset.phone){
            /*alert(elem.dataset.phone);*/
            var y = document.getElementsByClassName('popup-phone-class');
            var i;
            for (i = 0; i < y.length; i++) {
              y[i].innerHTML = "+91 " + elem.dataset.phone;
            }
        }
        else{
            var y = document.getElementsByClassName('popup-phone-class');
            var i;
            for (i = 0; i < y.length; i++) {
              y[i].innerHTML = "Not added";
            }

        }
        togglePopupPhone1();
      
    }
    if (elem.dataset.popupnum == 2){
        
        if (elem.dataset.phone){
            /*alert(elem.dataset.phone);*/
            var y = document.getElementsByClassName('popup-phone-class');
            var i;
            for (i = 0; i < y.length; i++) {
              y[i].innerHTML = "+91 " + elem.dataset.phone;
            }
        }
        else{
            var y = document.getElementsByClassName('popup-phone-class');
            var i;
            for (i = 0; i < y.length; i++) {
              y[i].innerHTML = "Not added";
            }

        }
        togglePopupPhone2();
    }

    if (elem.dataset.popupnum == 3){
        
        if (elem.dataset.phone){
            /*alert(elem.dataset.phone);*/
            var y = document.getElementsByClassName('popup-phone-class');
            var i;
            for (i = 0; i < y.length; i++) {
              y[i].innerHTML = "+91 " + elem.dataset.phone;
            }
        }
        else{
            var y = document.getElementsByClassName('popup-phone-class');
            var i;
            for (i = 0; i < y.length; i++) {
              y[i].innerHTML = "Not added";
            }

        }
        togglePopupPhone3();
    }

    if (elem.dataset.popupnum == 4){
        
        if (elem.dataset.phone){
            /*alert(elem.dataset.phone);*/
            var y = document.getElementsByClassName('popup-phone-class');
            var i;
            for (i = 0; i < y.length; i++) {
              y[i].innerHTML = "+91 " + elem.dataset.phone;
            }
        }
        else{
            var y = document.getElementsByClassName('popup-phone-class');
            var i;
            for (i = 0; i < y.length; i++) {
              y[i].innerHTML = "Not added";
            }

        }
        togglePopupPhone4();
    }
    var popupnum = elem.dataset.popupnum;
    var phone = elem.dataset.phone
    
    
    })
  })  

function togglePopupPhone1(){
  document.getElementById("filter-popup-phone1").classList.toggle("active");
}

function togglePopupPhone2(){
  document.getElementById("filter-popup-phone2").classList.toggle("active");
}

function togglePopupPhone3(){
  document.getElementById("filter-popup-phone3").classList.toggle("active");
}

function togglePopupPhone4(){
  document.getElementById("filter-popup-phone4").classList.toggle("active");
}


        /*share popup*/

let share = document.querySelectorAll(".share-id-carrier");
let share_array = Array.from(share);

share.forEach(function(elem) {
  elem.addEventListener("click", function(e) {
    /*alert(elem.dataset.share);*/
    
    if (elem.dataset.popupcount == 1){
        togglePopupShare1();
        function togglePopupShare1(){
            var y = document.getElementsByClassName('filter-popup-share1');
            var i = elem.dataset.parentloopcount;
            /*alert(i);*/
            y[i].classList.toggle("active");
            }
      
    }
    if (elem.dataset.popupcount == 2){
        togglePopupShare2();
        function togglePopupShare2(){
            var y = document.getElementsByClassName('filter-popup-share2');
            var i = elem.dataset.parentloopcount;
            /*alert(i);*/
            y[i].classList.toggle("active");
            }
      
    }

    if (elem.dataset.popupcount == 3){
        togglePopupShare3();
        function togglePopupShare3(){
            var y = document.getElementsByClassName('filter-popup-share3');
            var i = elem.dataset.parentloopcount;
            /*alert(i);*/
            y[i].classList.toggle("active");
            }
      
    }

    if (elem.dataset.popupcount == 4){
        togglePopupShare4();
        function togglePopupShare4(){
            var y = document.getElementsByClassName('filter-popup-share4');
            var i = elem.dataset.parentloopcount;
            /*alert(i);*/
            y[i].classList.toggle("active");
            }
      
    }
    
    
    })
  })  


let close = document.querySelectorAll(".share-popup-close");
let close_array = Array.from(close);

close.forEach(function(elem) {
  elem.addEventListener("click", function(e) {
    /*alert(elem.dataset.closecount);*/
    
    if (elem.dataset.closecount == 1){
        togglePopupShare1();
        function togglePopupShare1(){
            var y = document.getElementsByClassName('filter-popup-share1');
            var i = elem.dataset.closeparentcount;
            /*alert(i);*/
            y[i].classList.toggle("active");
            }
      
    }
    if (elem.dataset.closecount == 2){
        togglePopupShare2();
        function togglePopupShare2(){
            var y = document.getElementsByClassName('filter-popup-share2');
            var i = elem.dataset.closeparentcount;
            /*alert(i);*/
            y[i].classList.toggle("active");
            }
      
    }

    if (elem.dataset.closecount == 3){
        togglePopupShare3();
        function togglePopupShare3(){
            var y = document.getElementsByClassName('filter-popup-share3');
            var i = elem.dataset.closeparentcount;
            /*alert(i);*/
            y[i].classList.toggle("active");
            }
      
    }

    if (elem.dataset.closecount == 4){
        togglePopupShare4();
        function togglePopupShare4(){
            var y = document.getElementsByClassName('filter-popup-share4');
            var i = elem.dataset.closeparentcount;
            /*alert(i);*/
            y[i].classList.toggle("active");
            }
      
    }
    
    
    })
  })  


</script>

<script>
function togglePopupLogin(){
  document.getElementById("home-popup").classList.toggle("active");
}
</script>

<script>
function togglePopupRegister(){
  document.getElementById("register-popup").classList.toggle("active");
}
</script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
</body>
</html>

