<!doctype html>
<html lang="en">
{% load static %}
    
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Search results</title>
    <!-- Bootstrap core CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <!-- Google fonts -->    
<style>
    @font-face {
    font-family: 'Antipasto';
    src: local('Antipasto'),
                        url('{% static 'realbuy_app/fonts/Antipasto.ttf' %} ');
    }
</style>
<style type="text/css">
    
    body { 
        background: url('{% static "realbuy_app/images/bg.png" %}') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
         
</style>
    <!-- Custom styles for this template -->
<link href="{% static 'realbuy_app/styles/home.css' %}" rel="stylesheet"> 
</head>
    
<body>
<img id="filter-logo" src="{% static 'realbuy_app/images/logo_small.png' %}" >    
<span id="filter-head-1">Search</span><span id="filter-head-2"> Results</span>
    
{% if user.is_authenticated %}
    <a href='{% url 'logout' %}'>
    <button type="button" class="home-top-right" id="home-logout" >LOGOUT</button>
    </a>
    <a href='{% url 'profile' %}'>
    <button type="button" class="home-filter" id="home-profile">MY PROFILE</button>
    </a>
{% else %}
    <a href='{% url 'login_page' %}'>
    <button type="button" class="home-top-right" id="home-login">LOGIN</button>
    </a>
   
{% endif %}
    
<a href='{% url 'home' %}'>
<button type="button" class="home-top-right" id="home-top-right-1">HOME</button>
</a>
<a href='{% url 'about_us' %}'>
<button type="button" class="home-top-right" id="home-top-right-2">ABOUT US</button>
</a>
<a href='{% url 'featured' %}'>
<button type="button" class="home-top-right" id="home-top-right-3">FEATURED PROPERTIES</button>
</a>
<a href='{% url 'recent' %}'>
<button type="button" class="home-top-right" id="home-top-right-4">RECENT PROPERTIES</button>
</a>
<a href='{% url 'add1' %}'>
<button type="button" class="home-top-right" id="home-top-right-5">ADD PROPERTY</button>
</a>
<a href='{% url 'contactus' %}'>
<button type="button" class="home-top-right" id="home-top-right-6">CONTACT US</button>
</a>
<div id="filter-big-box-1"></div>
<div id="filter-big-box-2"></div>    
<form method="get" action="{% url 'category_filter2' %}">
      <input class="filter-location-1" type="text" list="location2" name="location1" id="location1" placeholder="LOCATION (ANY)" />
      <datalist id="location2" name="location2">
            <option>Edappal</option>
            <option>Trivandrum</option>
            <option>Thrissur</option>
            <option>Ernamkulam</option>
      </datalist>
      <select class="filter-property-status" id="property_status" name="property_status" placeholder="PROPERTY STATUS">
      <option hidden disabled selected value>PROPERTY STATUS</option>
      <option value="ready to move">Ready to move</option>
      <option value="under construction">Under Construction</option>
      <option value="sell">Sell</option>
      <option value="rent">Rent</option>
      </select>
      <select class="filter-areamin" id="areamin" name="areamin" placeholder="AREA MIN SQUAREFEET">
      <option hidden disabled selected value>AREA MIN SQUAREFEET</option>
      <option value="1000">1000</option>
      <option value="5000">5000</option>
      <option value="10000"> 10000</option>
      <option value="100000">100000</option>
      </select>
      <select class="filter-areamax" id="areamax" name="areamax" placeholder="AREA MAX SQUAREFEET">
      <option hidden disabled selected value>AREA MAX SQUAREFEET</option>
      <option value="1000"> 1000</option>
      <option value="5000"> 5000</option>
          <option value="10000">10000</option>
      <option value="100000">100000</option>
      </select>
    
      <button type="submit" id="filter_submit">SEARCH</button>
</form>
    
<a href="{% url 'category_filter1' 'commercial' %}"><button type="button" class="recentTopRight" id="recentTopRight1">COMMERCIAL</button></a>
<a href="{% url 'category_filter1' 'furnished home'|slugify %}"><button type="button" class="recentTopRight" id="recentTopRight2">FURNISHED HOMES</button></a>
<a href="{% url 'category_filter1' 'land and plot'|slugify %}"><button type="button" class="recentTopRight" id="recentTopRight3">LAND&amp;PLOT</button></a>
<a href="{% url 'category_filter1' 'rental' %}"><button type="button" class="recentTopRight" id="recentTopRight4">RENTAL</button></a>

<div class="filter-grid">
  <div class="filter-grid-content">
    {% if query_home %}
    {% for property in query_home %}
      <a href="{% url 'detail' property.id %}">
      <img class ="filter-image" src="{{property.image.url}}">
      </a>
      
      {% if property.sell_or_rent == 'sell' %}
      <div class="filter-sell"> ON SALE </div>
      {% else %}
      <div class="filter-rent"> ON RENT </div>
      {% endif %}
      <div class="filter-price">
      <span class="filter-price-1">&#8377; </span>
      <span class="filter-price-2">{{ property.price}}</span><span class="filter-price-3">/Month</span>
      </div>
      <span class="filter-type-and-loc">TYPE & LOCATION:</span>
      <div class="filter-location"> {{ property.location}}</div>
      <span class="filter-plot-area">PLOT AREA:</span>
      <div class="filter-area">
      <span class="filter-area-1">{{ property.built_up_area}}</span>
      <span class="filter-area-2">Cents{{ property.built_up_unit }}</span>
      </div>
      <span class="filter-society">SOCIETY:</span>
      <div class="filter-city"> {{ property.city }}</div>
      <span class="filter-description-head">DESCRIPTION:</span>
      <div class="filter-description"> {{ property.description }} </div>
      <span class="filter-posted">POSTED:</span>
      <div class="filter-date"> {{ property.date }}</div>
      <div class="filter-task-bar"></div>

      <div>
          <a href="#">
                  <img class="filter-mail-image" src="{% static 'realbuy_app/images/mail_white.png' %}">
          </a>
          <span class="filter-mail">SEND MAIL</span>
      </div>
      <div>
          <a href="#">
              <img class="filter-phone-image" src="{% static 'realbuy_app/images/call_white.png' %}">
          </a>
          <span class="filter-phone">PHONE NUMBER</span>
      </div>
      <div>
          <div class="filter-shortlist-image"><form action="{% url 'like_post' property.pk %}" method="POST">
          {% csrf_token %}
              {% if liked %}
              <button type="submit" name="post_id" value="{{ property.id }}"><img src="{% static 'realbuy_app/images/fav_white.png' %}"></button>
              {% else %}
              <button type="submit",id="detail-shortlist-image" name="post_id", value="{{ property.id }}"><img src="{% static 'realbuy_app/images/fav_select.png' %}"></button>
              {% endif %}
          </form>
          </div>
          <span class="filter-shortlist">SHORTLIST</span>
      </div>
      <div>
          <a href="#">
              <img class="filter-map-image" src="{% static 'realbuy_app/images/map_white.png' %}">
          </a>
          <span class="filter-map">MAP</span>
      </div>
      <div>
          <a href="#">
              <img class="filter-share-image" src="{% static 'realbuy_app/images/sharing_white.png' %}">
          </a>
          <span class="filter-share">SHARE</span>
      </div>

    {% endfor %}
    {% endif %}
  </div>
</div>
    
<div class="filter-grid">
  <div class="filter-grid-content">
    {% for property in category_property_home %}
          <a href="{% url 'detail' property.id %}">
          <img class ="filter-image" src="{{property.image.url}}">
          </a>
          
          {% if property.sell_or_rent == 'sell' %}
          <div class="filter-sell"> ON SALE </div>
          {% else %}
          <div class="filter-rent"> ON RENT </div>
          {% endif %}
          <div class="filter-price">
          <span class="filter-price-1">&#8377; </span>
          <span class="filter-price-2">{{ property.price}}</span><span class="filter-price-3">/Month</span>
          </div>
          <span class="filter-type-and-loc">TYPE & LOCATION:</span>
          <div class="filter-location"> {{ property.location}}</div>
          <span class="filter-plot-area">PLOT AREA:</span>
          <div class="filter-area">
          <span class="filter-area-1">{{ property.built_up_area}}</span>
          <span class="filter-area-2">Cents{{ property.built_up_unit }}</span>
          </div>
          <span class="filter-society">SOCIETY:</span>
          <div class="filter-city"> {{ property.city }}</div>
          <span class="filter-description-head">DESCRIPTION:</span>
          <div class="filter-description"> {{ property.description }} </div>
          <span class="filter-posted">POSTED:</span>
          <div class="filter-date"> {{ property.date }}</div>
          <div class="filter-task-bar"></div>

          <div>
              <a href="#">
                      <img class="filter-mail-image" src="{% static 'realbuy_app/images/mail_white.png' %}">
              </a>
              <span class="filter-mail">SEND MAIL</span>
          </div>
          <div>
              <a href="#">
                  <img class="filter-phone-image" src="{% static 'realbuy_app/images/call_white.png' %}">
              </a>
              <span class="filter-phone">PHONE NUMBER</span>
          </div>
          <div>
              <div class="filter-shortlist-image"><form action="{% url 'like_post' property.pk %}" method="POST">
              {% csrf_token %}
                  {% if liked %}
                  <button type="submit" name="post_id" value="{{ property.id }}"><img src="{% static 'realbuy_app/images/fav_white.png' %}"></button>
                  {% else %}
                  <button type="submit",id="detail-shortlist-image" name="post_id", value="{{ property.id }}"><img src="{% static 'realbuy_app/images/fav_select.png' %}"></button>
                  {% endif %}
              </form>
              </div>
              <span class="filter-shortlist">SHORTLIST</span>
          </div>
          <div>
              <a href="#">
                  <img class="filter-map-image" src="{% static 'realbuy_app/images/map_white.png' %}">
              </a>
              <span class="filter-map">MAP</span>
          </div>
          <div>
              <a href="#">
                  <img class="filter-share-image" src="{% static 'realbuy_app/images/sharing_white.png' %}">
              </a>
              <span class="filter-share">SHARE</span>
          </div>
    {% endfor %}
  </div>
</div>

<div class="filter-grid">
  <div class="filter-grid-content">
    {% for property in query_filter %}
          <a href="{% url 'detail' property.id %}">
          <img class ="filter-image" src="{{property.image.url}}">
          </a>
          
          {% if property.sell_or_rent == 'sell' %}
          <div class="filter-sell"> ON SALE </div>
          {% else %}
          <div class="filter-rent"> ON RENT </div>
          {% endif %}
          <div class="filter-price">
          <span class="filter-price-1">&#8377; </span>
          <span class="filter-price-2">{{ property.price}}</span><span class="filter-price-3">/Month</span>
          </div>
          <span class="filter-type-and-loc">TYPE & LOCATION:</span>
          <div class="filter-location"> {{ property.location}}</div>
          <span class="filter-plot-area">PLOT AREA:</span>
          <div class="filter-area">
          <span class="filter-area-1">{{ property.built_up_area}}</span>
          <span class="filter-area-2">Cents{{ property.built_up_unit }}</span>
          </div>
          <span class="filter-society">SOCIETY:</span>
          <div class="filter-city"> {{ property.city }}</div>
          <span class="filter-description-head">DESCRIPTION:</span>
          <div class="filter-description"> {{ property.description }} </div>
          <span class="filter-posted">POSTED:</span>
          <div class="filter-date"> {{ property.date }}</div>
          <div class="filter-task-bar"></div>

          <div>
              <a href="#">
                      <img class="filter-mail-image" src="{% static 'realbuy_app/images/mail_white.png' %}">
              </a>
              <span class="filter-mail">SEND MAIL</span>
          </div>
          <div>
              <a href="#">
                  <img class="filter-phone-image" src="{% static 'realbuy_app/images/call_white.png' %}">
              </a>
              <span class="filter-phone">PHONE NUMBER</span>
          </div>
          <div>
              <div class="filter-shortlist-image"><form action="{% url 'like_post' property.pk %}" method="POST">
              {% csrf_token %}
                  {% if liked %}
                  <button type="submit" name="post_id" value="{{ property.id }}"><img src="{% static 'realbuy_app/images/fav_white.png' %}"></button>
                  {% else %}
                  <button type="submit",id="detail-shortlist-image" name="post_id", value="{{ property.id }}"><img src="{% static 'realbuy_app/images/fav_select.png' %}"></button>
                  {% endif %}
              </form>
              </div>
              <span class="filter-shortlist">SHORTLIST</span>
          </div>
          <div>
              <a href="#">
                  <img class="filter-map-image" src="{% static 'realbuy_app/images/map_white.png' %}">
              </a>
              <span class="filter-map">MAP</span>
          </div>
          <div>
              <a href="#">
                  <img class="filter-share-image" src="{% static 'realbuy_app/images/sharing_white.png' %}">
              </a>
              <span class="filter-share">SHARE</span>
          </div>
    {% endfor %}
  </div>
</div>

<div class="filter-grid">
  <div class="filter-grid-content">
      {% for property in category_property_filter %}
          <a href="{% url 'detail' property.id %}">
          <img class ="filter-image" src="{{property.image.url}}">
          </a>
          
          {% if property.sell_or_rent == 'sell' %}
          <div class="filter-sell"> ON SALE </div>
          {% else %}
          <div class="filter-rent"> ON RENT </div>
          {% endif %}
          <div class="filter-price">
          <span class="filter-price-1">&#8377; </span>
          <span class="filter-price-2">{{ property.price}}</span><span class="filter-price-3">/Month</span>
          </div>
          <span class="filter-type-and-loc">TYPE & LOCATION:</span>
          <div class="filter-location"> {{ property.location}}</div>
          <span class="filter-plot-area">PLOT AREA:</span>
          <div class="filter-area">
          <span class="filter-area-1">{{ property.built_up_area}}</span>
          <span class="filter-area-2">Cents{{ property.built_up_unit }}</span>
          </div>
          <span class="filter-society">SOCIETY:</span>
          <div class="filter-city"> {{ property.city }}</div>
          <span class="filter-description-head">DESCRIPTION:</span>
          <div class="filter-description"> {{ property.description }} </div>
          <span class="filter-posted">POSTED:</span>
          <div class="filter-date"> {{ property.date }}</div>
          <div class="filter-task-bar"></div>

          <div>
              <a href="#">
                      <img class="filter-mail-image" src="{% static 'realbuy_app/images/mail_white.png' %}">
              </a>
              <span class="filter-mail">SEND MAIL</span>
          </div>
          <div>
              <a href="#">
                  <img class="filter-phone-image" src="{% static 'realbuy_app/images/call_white.png' %}">
              </a>
              <span class="filter-phone">PHONE NUMBER</span>
          </div>
          <div>
              <div class="filter-shortlist-image"><form action="{% url 'like_post' property.pk %}" method="POST">
              {% csrf_token %}
                  {% if liked %}
                  <button type="submit" name="post_id" value="{{ property.id }}"><img src="{% static 'realbuy_app/images/fav_white.png' %}"></button>
                  {% else %}
                  <button type="submit",id="detail-shortlist-image" name="post_id", value="{{ property.id }}"><img src="{% static 'realbuy_app/images/fav_select.png' %}"></button>
                  {% endif %}
              </form>
              </div>
              <span class="filter-shortlist">SHORTLIST</span>
          </div>
          <div>
              <a href="#">
                  <img class="filter-map-image" src="{% static 'realbuy_app/images/map_white.png' %}">
              </a>
              <span class="filter-map">MAP</span>
          </div>
          <div>
              <a href="#">
                  <img class="filter-share-image" src="{% static 'realbuy_app/images/sharing_white.png' %}">
              </a>
              <span class="filter-share">SHARE</span>
          </div>

    {% endfor %}
  </div>
</div>
    
<a href="https://www.facebook.com/real.buy.5439/">
<img src="{% static 'realbuy_app/images/fb.png' %}" id="filter-fb">
</a>
<a href="https://twitter.com/realbuy2">
<img src="{% static 'realbuy_app/images/twitter.png' %}" id="filter-twitter">
</a>
<a href="https://myaccount.google.com/u/2/">
<img src="{% static 'realbuy_app/images/google.png' %}" id="filter-google">
</a>
<span id="filter-copyright">&copy; 2016. realbuy.com. All rights reserved.</span>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
</body>
</html>

    