{% extends 'realbuy_app/base.html' %}
{% load static %}
{% load humanize %}
{% block links %}
<link href="{% static 'realbuy_app/styles/aboutus.css' %}" rel="stylesheet">
{% endblock %}
{% block styles %}
<style type="text/css">
.carousel .carousel-indicators li {
   
  width: 10px !important;
  height: 10px !important;
  border-radius: 50% !important;
    
}
.carousel .carousel-indicators{
  bottom: 50px !important;
  left: 520px !important;
}

.carousel-control-next-icon {
  display: none !important;
}

.carousel-control-prev-icon {
  display: none !important;
}
</style>
{% endblock %}

{% block content %}


    
    <!-- aboutus -->

<div class="aboutus-big-box"></div>


<div class="aboutus-container">
    <div id="aboutusCarousel" class="carousel slide" data-ride="carousel" >
      <ol class="carousel-indicators">
        {% for property in aboutus_list %}
        {% if forloop.counter0 < 4 %}
        <li data-target="#aboutusCarousel" data-slide-to="{{forloop.counter0}}" class="{% if forloop.counter0 == 0 %} active {% endif %}"></li>
        {% endif %}
        {% endfor %}
      </ol>  
      <div class="carousel-inner">
         
        {% for property in aboutus_list %}
     	{% if forloop.counter0 < 4 %}
        <div class="carousel-item {% if forloop.counter0 == 0 %} active {% endif %}">
            <div class="aboutus-grid">   
            	  <a  href="{% url 'detail' property.id %}"> 
                <img src="{{property.image.url}}" class="aboutus-banner-slider">
                </a>
                <div class="aboutus-detail-bar"></div>
                <img src="{% static 'realbuy_app/images/location_carousel.png' %}" class="aboutus-location-carousel">
                <span class="location-carousel-sub1">{{property.address}}</span>
                <div class="aboutus-price">
                        {% if property.sell_or_rent == 'rent' %}
                            {% if property.price >= 100000 %}
                            <span class="aboutus-price-1">{% widthratio property.price 100000 1 %}</span>
                            <span class="aboutus-price-2">Lakhs</span>
                            <span class="aboutus-price-3">/Month</span>
                            {% else %}
                            <span class="aboutus-price-1">{{ property.price|intcomma }}</span>
                            <span class="aboutus-price-2">/Month</span>
                            {% endif %}
                        {% else %}
                            {% if property.price >= 100000 %}
                            {% if property.price < 10000000 %}
                            <span class="aboutus-price-1">{% widthratio property.price 100000 1 %}</span>
                            <span class="aboutus-price-2">Lakhs</span>
                            {% else %}
                            <span class="aboutus-price-1">{% widthratio property.price 10000000 1 %}</span>
                            <span class="aboutus-price-2">Crore</span>
                            {% endif %}


                            {% else %}
                            <span class="aboutus-price-1">{{ property.price|intcomma }}</span>
                            {% endif %}
                            
                        {% endif %}
                </div>
                <img src="{% static 'realbuy_app/images/area.png' %}" class="aboutus-area">
                <span class="area-head">Area</span>
                <div class="aboutus-area-content">
                    <span class="aboutus-area-content-1">{{ property.built_up_area|floatformat|intcomma}}</span>
                    <span class="aboutus-area-content-2">{{property.built_up_unit}}</span>
                </div>
                <img src="{% static 'realbuy_app/images/bedroom.png' %}" class="aboutus-bedroom">
                <span class="bedroom-head">Bedrooms</span>
                <span class="bedroom-sub">{{ property.bedroom }}</span>
                <img src="{% static 'realbuy_app/images/bathroom.png' %}" class="aboutus-bathroom">
                <span class="bathroom-head">Bathrooms</span>
                <span class="bathroom-sub">{{ property.bathroom }}</span> 
            </div>         
        </div>
        {% endif %}
        {% endfor %}



      </div>
      <a class="carousel-control-prev" href="#aboutusCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#aboutusCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div> 

</div>
<!--

<img src="{% static 'realbuy_app/images/banner_slider.png' %}" id="aboutus-banner-slider">
				<div id="aboutus-detail-bar"></div>
				<img src="{{property.image.url}}" id="aboutus-location-carousel">
				<span id="location-carousel-sub1">{{property.address}}</span>
				<span id="part80-90">80-90 </span>
				<span id="partLakhs">Lakhs </span>
				<img src="{% static 'realbuy_app/images/area.png' %}" id="aboutus-area">
				<span id="area-head">Area</span>
				<span id="part7789">7,789</span>
				<span id="partsqft">SQFT</span>
				<img src="{% static 'realbuy_app/images/bedroom.png' %}" id="aboutus-bedroom">
				<span id="bedroom-head">Bedrooms</span>
				<span id="bedroom-sub">5</span>
				<img src="{% static 'realbuy_app/images/bathroom.png' %}" id="aboutus-bathroom">
				<span id="bathroom-head">Bathrooms</span>
				<span id="bathroom-sub">4</span> 
-->

<div class="aboutus-small-box"></div>
<span id="partabout">About</span>
<span id="partus">Us</span>
    
<span id="aboutus-content">Realbuy is a real estate firm with a vision to create luxurious living spaces that surpass the expectations of customers. Although recently launched the firm is driven with an instinct and far stretching insight that improves the real estate offerings in the city. Realbuy is a well-known name in creating the high-quality residential projects in Kochi region. With years of experience, the company has earned a good reputation in providing quality construction along with its dedicated team. It is a diversified group with significant .
<br><br>Realbuy has built a remarkable name and has established itself as one of the well known entities in the real estate arena. Providing help and assistance to the clients regarding realty issues along with offering useful and effective real estate solutions, stems out as the company's main motto sinc.
</span>
<img src="{% static 'realbuy_app/images/location_aboutus.png' %}" id="aboutus-location-aboutus">
<span id="location-head">Address</span>
<span id="location-sub">9A, 9th floor, Carnival Infopark, Kakkanad, Kochi - 682 030</span>
<img src="{% static 'realbuy_app/images/phone_aboutus.png' %}" id="aboutus-phone">
<span id="phone-head">Phone</span>
<span id="phone-sub">0484-2415010</span>
<a href='{% url 'contactus' %}'>
    <button type="button" id="contact-now">CONTACT NOW</button>
</a>

{% endblock %}
