{% extends 'realbuy_app/base.html' %}
{% load static %}
{% load humanize %}
{% block title %}
User Profile{% endblock %}{% block content %}
{% if user.is_authenticated %}
<div id="profile-big-box"></div>
<div id="profile-big-box-2"></div> 
<div id="profile-user-section"></div>
{% if profile.image %}
<img id="profile-pic" src="{{ user.profile.image.url }}">
{% else %}
<img id="profile-pic" src="{% static 'realbuy_app/images/profile/profile_pic.png' %}">
{% endif %}
<img id="profile-username-icon" src="{% static 'realbuy_app/images/profile/profileaccount_icon.png' %}">
<div id="profile-username">{{ profile.name | title}}</div>
<img id="profile-mail-icon" src="{% static 'realbuy_app/images/profile/mail_icon.png' %}">
<div id="profile-mail">{{ profile.email }}</div>
<img id="profile-phone-icon" src="{% static 'realbuy_app/images/profile/phone_icon.png' %}">
{% if profile.phone %}
<div id="profile-phone">+91 {{ profile.phone }}</div>
{% else %}
<div id="profile-phone"></div>
{% endif %}
<img id="profile-address-icon" src="{% static 'realbuy_app/images/profile/location_icon.png' %}">
<div id="profile-address">{{ profile.address }}</div>

<a href="{% url 'edit_profile' profile.id %}">
	<button type="button" id="profile-edit-button"></button>
	<img id="profile-edit-image" src="{% static 'realbuy_app/images/profile/edit1.png' %}">
</a>
<span id="profile-head-1">My</span> <span id="profile-head-2">Properties</span>



<div class="profile-grid">
    {% for property in properties %}
    {% if user.id == property.ownership.id %} 
    <div class="profile-grid-content">
    	    <a href="{% url 'detail' property.id %}">
          <img class ="profile-property-image" src="{{property.image.url}}">
          </a>
          
          {% if property.sell_or_rent == 'sell' %}
          <div class="profile-property-sell"> ON SALE </div>
          {% else %}
          <div class="profile-property-rent"> ON RENT </div>
          {% endif %}
          <div class="profile-property-price">
          <span class="profile-property-price-1">&#8377; </span>
          {% if property.sell_or_rent == 'rent' %}
          <span class="profile-property-price-2">{{ property.price}}/Month</span>
          {% else %}
          <span class="profile-property-price-2">{{property.price}}</span>
          {% endif %}
         
          </div>
          <span class="profile-property-type-and-loc">TYPE & LOCATION:</span>
          <div class="profile-property-location">{{property.property_type}}/{{ property.location |lower|capfirst}}</div>
          <span class="profile-property-plot-area">PLOT AREA:</span>
          <div class="profile-property-area">
          <span class="profile-property-area-1">{{ property.built_up_area}}</span>
          <span class="profile-property-area-2">{{ property.built_up_unit | capfirst}}</span>
          </div>
          <span class="profile-property-society">SOCIETY:</span>
          <div class="profile-property-city"> {{ property.address | title }}</div>
          <span class="profile-property-description-head">DESCRIPTION:</span>
          <div class="profile-property-description"> {{ property.description }} </div>
          <span class="profile-property-posted">POSTED:</span>
          <div class="profile-property-date"> {{ property.date }}</div>
          <a href="{% url 'update1' property.pk %}">
    			<button type="button" class="profile-property-edit-button"></button>
    			<img class="profile-property-edit-image" src="{% static 'realbuy_app/images/profile/edit.png' %}">
    		  </a>
          
          <a href="#" data-id="{{ property.id }}" onclick="togglePopupDelete()">  
    			<button type="button" class="profile-property-delete-button"></button>
    			<img class="profile-property-delete-image" src="{% static 'realbuy_app/images/profile/delete-button.png' %}">
          </a>
    	  
    </div>
	  {% endif %}
    {% endfor %}
</div>

   <!-- delete popup -->
<div class="popup" id="delete-popup">
  <div class="overlay"></div>
  <div class="content">
    <img id="delete-popup-close" src="{% static 'realbuy_app/images/popup_close.png' %}" onclick="togglePopupDelete()">
    <span id="delete-popup-head">CONFIRM DELETE</span>
    <div id="delete-popup-box-1"></div>
    <div id="delete-popup-box-2"></div>
    <form method="POST" action="{% url 'delete' profile.id %}" id="deleteForm"> 
    {% csrf_token %}
    <img src="{% static 'realbuy_app/images/alert.png' %}" id="delete-popup-alert">
    <span id="delete-popup-content">Are you sure you want to delete this item?</span>
    <button type="submit" id='delete-popup-submit'>DELETE</button>
    <button type="button" id='delete-popup-cancel' onclick="togglePopupDelete()">CANCEL</button>
    </form>
  </div>
</div>
<script>
function togglePopupDelete(){
  document.getElementById("delete-popup").classList.toggle("active");
  const id = $(this).data('id');
  alert(id);
  $('#deleteForm').attr('action', '/clients/'+ id + '/destroy');
}
</script>


{% endif %}  
{% endblock %}
