
<!doctype html>
<html lang="en">
{% load static %}

    
<head><title>profile</title>
<link href="{% static 'realbuy_app/styles/home.css' %}" rel="stylesheet"> 
</head>
<body>
{% if user.is_authenticated %}
{{ user.profile.user }}
<img src="{{ user.profile.image.url }}">
{{ user.profile.email }}
{{ user.profile.phone }}
{{ user.profile.address }}
<a href="{% url 'edit_profile' %}">Edit Profile</a>

<h1> My properties </h1>
{% for property in properties %}
{% if user.id == property.ownership.id %}


    <img src="{{ property.image.url }}">
    <a class='nav-link' href="{% url 'update1' property.pk %}">Edit</a>
    <a class='nav-link' href="{% url 'delete' property.pk %}">Delete</a>
{% endif %}
{% endfor %}  



{% endif %}


</body>
</html>