{% extends 'realbuy_app/base.html' %}
{% load static %}
{% block title %}
Recent Properties{% endblock %}
{% block links %}
<link href="{% static 'realbuy_app/styles/recent.css' %}" rel="stylesheet">
{% endblock %}
{% block styles %}
<style type="text/css">
.carousel-control-next-icon {
    position: absolute;
    top: -15px;
    left: -20px;
    height: 10px;
    background-image: url('{% static "realbuy_app/images/featured/next_arrow.png" %}');
    z-index: 20;
}
.carousel-control-prev-icon{
    position: absolute;
    top: -15px;
    left: 600px;
    height: 10px;
    background-image: url('{% static "realbuy_app/images/featured/prev_arrow.png" %}');
    z-index: 20;
} 
.carousel-control-prev {
  width: 0px;
  height: 0px;
}
.carousel-control-next {
  width: 0px;
  height: 0px;
}
.carousel .carousel-indicators li {
    display: none;
    
}

</style>
{% endblock %}
{% block content %}
<div id="recentBigBox"></div>
<div id="recentBigBox2"></div>
<span id="recentHead1">Recent</span> <span id="recentHead2">Properties</span>
<a href="{% url 'category_recent' 'commercial' %}"><button type="button" class="recentTopRight" id="recentTopRight1">COMMERCIAL</button></a>
<a href="{% url 'category_recent' 'furnished home'|slugify %}"><button type="button" class="recentTopRight" id="recentTopRight2">FURNISHED HOMES</button></a>
<a href="{% url 'category_recent' 'land and plot'|slugify %}"><button type="button" class="recentTopRight" id="recentTopRight3">LAND&amp;PLOT</button></a>
<a href="{% url 'category_recent' 'rental' %}"><button type="button" class="recentTopRight" id="recentTopRight4">RENTAL</button></a>

<div class="recentContainer">
    <div id="recentCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
      <ol class="carousel-indicators">
        {% for prop in composite_list %}
        <li data-target="#recentCarousel" data-slide-to="{{forloop.counter0}}" class="{% if forloop.counter0 == 0 %} active {% endif %}"></li>
        {% endfor %}
      </ol>  
      <div class="carousel-inner">
         
        {% for prop in composite_list %}
     
        <div class="carousel-item {% if forloop.counter0 == 0 %} active {% endif %}">
               
                <div class="recentContent">

                    {% for property in prop %}
                    <div class="recentList">
                        <a  href="{% url 'detail' property.id %}">
                        <img class="recentImage" src="{{property.image.url}}">
                        </a>
                        {% if property.sell_or_rent == 'sell' %}
                        <div class="recentSell"> ON SALE </div>
                        {% else %}
                        <div class="recentRent"> ON RENT </div>
                        {% endif %}
                        <div class="recentCity"> {{ property.city}}</div>
                        <div class="recentAddress"> {{ property.address|slice:":30" }}</div>
                        <div class="recentPrice">
                        <span class="recentPrice1">&#8377; </span>
                        <span class="recentPrice2">{{ property.price}}</span><span class="recentPrice3">/Month</span>
                            
                        </div>
                        <form action="{% url 'like_recent' property.pk %}" method="POST">
                        {% csrf_token %}
                        <h3>{{ property.liked }}</h3>
                        {% if property.liked %}
                        <button class="recentLike" type="submit" name="post_id" value="{{ property.id }}"><img class="recentLikeImage" src="{% static 'realbuy_app/images/fav_select.png' %}"></button>
                        
                        {% else %}
                        <button class="recentLike" type="submit" name="post_id" value="{{ property.id }}"><img class="recentLikeImage" src="{% static 'realbuy_app/images/fav_white.png' %}"></button>
                        
                        {% endif %}
                        </form>       
                    </div>       

                    {% endfor %}

                </div>  
                     
        </div>
        {% endfor %}



      </div>
      <a class="carousel-control-prev" href="#recentCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#recentCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div> 

</div>



{% endblock %}
