<!doctype html>
<html lang="en">
{% load static %} 
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>success</title>

<style type="text/css">
    
    body { 
        background: url('{% static "realbuy_app/images/bg.png" %}') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
         
</style>
    
</head>

<body>

<h1 style="color:red;text-align:center;">Success!!!</h1>

</body>
</html>